* {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.barraNavegacion {
  background-color: #165c85; }
  .barraNavegacion__imagen {
    width: 20px;
    padding: 30px 0 30px 0; }
  .barraNavegacion__texto {
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px; }
    .barraNavegacion__texto::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #D3D3D3;
      transform-origin: right;
      transform: scale(0);
      transition: transform 0.3s ease-in-out; }
    .barraNavegacion__texto:hover::after {
      transform-origin: left;
      transform: scale(1); }
    .barraNavegacion__texto:hover {
      color: #D3D3D3;
      font-weight: bolder; }
  .barraNavegacion__anchor {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    text-align: end;
    transition: background-color 0.5s;
    position: relative; }
    .barraNavegacion__anchor::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0px;
      height: 2px;
      width: 100%;
      background: #D3D3D3;
      transform-origin: right;
      transform: scale(0);
      transition: transform 0.3s ease-in-out; }
    .barraNavegacion__anchor:hover::after {
      transform-origin: left;
      transform: scale(1); }
    .barraNavegacion__anchor:hover {
      font-weight: bold;
      color: #D3D3D3; }

.navbar-collapse .collpase {
  display: flex;
  justify-content: end; }

.nav__mdsm {
  display: none; }

.navbar-light .navbar-nav .nav-link {
  color: #D3D3D3; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #D3D3D3; }

/* MEDIUM MEDIUM MEDIUM */
.barraNavegacion {
  background-color: #165c85;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  padding: 20px 0 20px 0; }
  .barraNavegacion__imagen {
    width: 30px; }
  .barraNavegacion__anchor::after {
    display: none; }
  .barraNavegacion__texto::after {
    display: none; }

#navbarNav .navbar-collapse .collpase {
  display: flex;
  justify-content: end; }

.nav__lg {
  display: none; }

.nav__mdsm {
  display: flex;
  align-items: center; }

.navbar-toggler:focus {
  color: #D3D3D3; }

.navbar-light .navbar-toggler {
  border-color: #D3D3D3; }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../Imagenes/menuHamburguesa.png); }

/* SMALL SMALL SMALL */
.barraNavegacion {
  background-color: #165c85;
  width: 100%; }
  .barraNavegacion__texto {
    font-size: 15px; }
  .barraNavegacion__lista {
    padding: 0; }
  .barraNavegacion__anchor {
    font-size: 15px;
    padding: 10px 10px 30px 10px; }

.container {
  margin: 0 50px 0 50px; }

/* CUERPO SUPERIOR */
.indexSuperior {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4; }
  .indexSuperior__titulo {
    color: #333333;
    font-size: 40px;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    margin: 100px 0 10px 0; }
  .indexSuperior__subtitulo {
    color: #333333;
    font-family: "Mulish", sans-serif;
    margin: 0 0 20px 0; }

#index__fotosCarrousel {
  align-self: center;
  width: 70%; }

h5 {
  margin: 0 0 50px 0;
  font-size: 16px;
  align-self: center; }

/* CUERPO MEDIO INDEX */
.indexMedio {
  background-color: #D8D8D8;
  padding: 100px 0 100px 0;
  margin: 50px 0 0 0; }
  .indexMedio__columnas {
    margin: 0; }
    .indexMedio__columnasFotos {
      display: flex;
      flex-wrap: wrap; }
      .indexMedio__columnasFotos__foto {
        width: 450px;
        padding: 10px 0 0 10px;
        box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493); }
    .indexMedio__columnasCaja {
      width: 40%; }
      .indexMedio__columnasCajaTexto {
        display: flex;
        flex-direction: column; }

.tituloSecundario__index {
  font-size: 30px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #333333; }

.lineaMedio__index {
  align-self: center;
  margin: 20px 0 20px 0; }

.subtituloMedio__index {
  font-family: 'Mulish', sans-serif;
  color: #333333;
  margin: 10px 0 10px 0;
  font-size: 25px; }

.botonVerMas__index {
  align-self: center;
  padding: 15px 25px 15px 25px;
  border: solid 1px;
  border-color: #333333;
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: #333333;
  border-radius: 5px;
  text-decoration: none;
  margin: 40px 0 20px 0;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s; }
  .botonVerMas__index:hover {
    color: #D3D3D3;
    font-weight: bolder;
    background-color: #165c85; }

/* CUERPO INFERIOR INDEX */
.indexInferior {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0; }
  .indexInferior__texto {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0 0 50px 0; }
    .indexInferior__textoBoton {
      align-self: center;
      padding: 15px 25px 15px 25px;
      border: solid 1px;
      border-color: #333333;
      font-family: 'Mulish', sans-serif;
      font-size: 25px;
      font-weight: bolder;
      color: #333333;
      border-radius: 5px;
      text-decoration: none;
      transition: color 0.5s, background-color 0.5s, border-color 0.5s; }
      .indexInferior__textoBoton:hover {
        color: #D3D3D3;
        font-weight: bolder;
        background-color: #165c85; }
  .indexInferior__caja {
    width: 60%; }
    .indexInferior__cajaTexto {
      font-family: 'Mulish', sans-serif;
      color: #333333;
      margin: 0 0 0 20px; }
  .indexInferior__imagen {
    display: flex;
    justify-content: center; }
    .indexInferior__imagenFoto {
      width: 80%;
      box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493); }

/* MEDIUM MEDIUM MEDIUM */
/* MAIN INDEX */
.indexSuperior__titulo {
  font-size: 200%; }

.indexMedio__columnas {
  display: flex;
  flex-direction: column-reverse; }
  .indexMedio__columnasCaja {
    width: 80%;
    padding: 0; }
  .indexMedio__columnasFotos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .indexMedio__columnasFotos__foto {
      width: 50%; }

.indexInferior__texto {
  margin: 0 0 0 0; }

.indexInferior__imagen {
  align-self: center; }
  .indexInferior__imagenFoto {
    padding: 0; }

/* SMALL SMALL SMALL */
.indexSuperior__titulo {
  margin: 50px 0 0 0;
  font-size: 20px;
  text-align: center; }

.indexSuperior__subtitulo {
  font-size: 15px;
  padding: 10px 0 0 0; }

#index__fotosCarrousel {
  width: 100%; }

.indexMedio {
  padding: 50px 0 50px 0; }
  .indexMedio__columnasFotos {
    display: flex;
    flex-wrap: wrap; }
    .indexMedio__columnasFotos__foto {
      width: 80%;
      padding: 5px 0 0 0; }
  .indexMedio__columnasCaja {
    width: 80%;
    padding: 0; }

.tituloSecundario__index {
  font-size: 20px; }

.subtituloMedio__index {
  font-size: 15px;
  text-align: center; }

.botonVerMas__index {
  margin: 20px 0 20px 0;
  font-size: 20px;
  padding: 15px; }

.indexInferior {
  padding: 50px 0 50px 0; }
  .indexInferior__texto {
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .indexInferior__textoBoton {
      font-size: 20px;
      padding: 15px; }
  .indexInferior__caja {
    width: 80%;
    padding: 0; }
    .indexInferior__cajaTexto {
      font-size: 15px;
      padding: 0 0 30px 0;
      text-align: center; }
  .indexInferior__imagenFoto {
    width: 100%;
    padding: 0; }

.footer {
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .footer__logo {
    display: flex;
    margin: 0 0 0 50px; }
    .footer__logoImagen {
      width: 30px;
      padding: 75px 0 75px 0; }
    .footer__logoTexto {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer__logoTextoP {
        font-family: 'Mulish', sans-serif;
        color: #D3D3D3;
        margin-left: 10px;
        font-size: 20px; }
  .footer__hv {
    display: flex;
    margin: 0 50px 0 0; }
    .footer__hvLista {
      list-style: none;
      display: flex;
      padding: 0 0 0 20px; }
      .footer__hvListaLogo {
        height: 40px;
        margin: 0 15px 0 15px;
        transition: transform 0.5s; }
        .footer__hvListaLogo:hover {
          transform: scale(1.2); }
      .footer__hvListaLogoG {
        height: 40px;
        margin: 0 15px 0 15px; }
      .footer__hvListaEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Mulish', sans-serif;
        color: #D3D3D3;
        font-size: 15px; }
      .footer__hvListaDireccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Mulish', sans-serif;
        color: #D3D3D3;
        font-size: 15px; }

/* MEDIUM MEDIUM MEDIUM */
.footer__hv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 30px 30px 0; }
  .footer__hvLista {
    padding: 0 0 0 10px; }
    .footer__hvListaEmail {
      font-size: 13px; }
    .footer__hvListaDireccion {
      font-size: 13px; }

/* SMALL SMALL SMALL */
.footer__hv {
  padding: 0 0 0 0;
  margin: 0 0 50px 0; }
  .footer__hvLista {
    padding: 30px 0 0 0; }

.footer__logo {
  align-self: center;
  margin: 0; }
