/* COLORES */
/* TIPOGRAFIAS */
/* VARIABLES */
.indexSuperior__banner h1, .indexMed__columnBoxTexto h2, .QSTitulo h1, .festSup h1, .galeriaSup h1, .contactoSup h1, .contactoInf__texto {
  font-family: "Fraunces", serif;
  color: #333333;
  font-size: 2rem;
  text-align: center;
  margin: 0 20px; }
  @media only screen and (max-width: 576px) {
    .indexSuperior__banner h1, .indexMed__columnBoxTexto h2, .QSTitulo h1, .festSup h1, .galeriaSup h1, .contactoSup h1, .contactoInf__texto {
      font-size: 1.2rem; } }

.index, .QS, .fest, .galeria, .contacto, .cuatro {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 150px 0; }
  @media only screen and (max-width: 576px) {
    .index, .QS, .fest, .galeria, .contacto, .cuatro {
      padding: 125px 0; } }

* {
  margin: 0;
  padding: 0; }

/* GOOGLE FONTS

font-family: 'DM Serif Display', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Commissioner', sans-serif;
font-family: 'Fraunces', serif;

*/
p {
  margin: 0; }

h5 {
  margin: 25px 0 50px 0;
  font-size: 16px;
  text-align: center; }

.boton {
  font-size: 1rem;
  font-family: "Commissioner", sans-serif;
  color: #333333;
  text-align: none;
  font-weight: bold;
  border: solid 1px;
  border-color: #333333;
  border-radius: 5px;
  padding: 15px 25px;
  align-self: center;
  margin: 40px 0 0 0;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s; }
  @media only screen and (max-width: 576px) {
    .boton {
      font-size: 0.8rem; } }
  .boton:hover {
    color: #D3D3D3;
    font-weight: bolder;
    background-color: #165c85;
    cursor: pointer; }

.barraNavegacion {
  background-color: #165c85;
  position: fixed;
  width: 100%;
  z-index: 10; }
  @media only screen and (max-width: 992px) {
    .barraNavegacion {
      padding: 10px 0; } }
  .barraNavegacion__texto {
    font-size: 1rem;
    font-family: "Commissioner", sans-serif;
    color: #D3D3D3;
    text-align: center;
    font-weight: bold;
    font-weight: lighter;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px; }
    @media only screen and (max-width: 576px) {
      .barraNavegacion__texto {
        font-size: 0.8rem; } }
    .barraNavegacion__texto::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #D3D3D3;
      transform-origin: right;
      transform: scale(0);
      transition: transform 0.3s ease-in-out; }
    .barraNavegacion__texto:hover::after {
      transform-origin: left;
      transform: scale(1); }
    .barraNavegacion__texto:hover {
      color: #D3D3D3;
      font-weight: bolder; }
  .barraNavegacion__anchor {
    font-size: 1rem;
    font-family: "Commissioner", sans-serif;
    color: #D3D3D3;
    text-align: end;
    font-weight: bold;
    font-weight: lighter;
    text-decoration: none;
    transition: background-color 0.5s;
    position: relative; }
    @media only screen and (max-width: 576px) {
      .barraNavegacion__anchor {
        font-size: 0.8rem; } }
    @media only screen and (max-width: 576px) {
      .barraNavegacion__anchor {
        font-size: 0.7rem; } }
    .barraNavegacion__anchor::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0px;
      height: 2px;
      width: 100%;
      background: #D3D3D3;
      transform-origin: right;
      transform: scale(0);
      transition: transform 0.3s ease-in-out; }
      @media only screen and (max-width: 992px) {
        .barraNavegacion__anchor::after {
          display: none; } }
    .barraNavegacion__anchor:hover::after {
      transform-origin: left;
      transform: scale(1); }
    .barraNavegacion__anchor:hover {
      font-weight: bold;
      color: #D3D3D3; }

.navbar-collapse .collpase {
  display: flex;
  justify-content: end; }

.nav__mdsm {
  display: none; }
  @media only screen and (max-width: 992px) {
    .nav__mdsm {
      display: flex;
      align-items: center; } }

.navbar-light .navbar-nav .nav-link {
  color: #D3D3D3;
  margin: 0 20px;
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
      padding-top: 15px; } }
  @media only screen and (max-width: 576px) {
    .navbar-light .navbar-nav .nav-link {
      margin: 0; } }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #D3D3D3; }

.navbar > .container {
  margin: 0 150px; }
  @media only screen and (max-width: 992px) {
    .navbar > .container {
      margin: 0 100px; } }
  @media only screen and (max-width: 576px) {
    .navbar > .container {
      margin: 0 30px; } }

/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */
@media only screen and (max-width: 992px) {
  #navbarNav .navbar-collapse .collpase {
    display: flex;
    justify-content: end; }
  .nav__lg {
    display: none; }
  .navbar-toggler:focus {
    color: #D3D3D3; }
  .navbar-light .navbar-toggler {
    border-color: #D3D3D3;
    padding: 0.10rem 0.45rem; }
    .navbar-light .navbar-toggler-icon {
      background-image: url(../Imagenes/menuHamburguesa.png);
      width: 25px; } }

.indexSuperior {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .indexSuperior__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .indexSuperior__banner img {
      width: 7.5%; }
      @media only screen and (max-width: 992px) {
        .indexSuperior__banner img {
          margin-left: 20px; } }
    .indexSuperior__banner h1 {
      margin-left: 20px;
      justify-content: center; }
      @media only screen and (max-width: 576px) {
        .indexSuperior__banner h1 {
          margin: 0 20px 0 10px; } }
  .indexSuperior__texto h3 {
    font-size: 1.5rem;
    font-family: "Commissioner", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px 0; }
    @media only screen and (max-width: 576px) {
      .indexSuperior__texto h3 {
        font-size: 1.1rem; } }
    @media only screen and (max-width: 576px) {
      .indexSuperior__texto h3 {
        font-size: 0.7rem; } }

.indexMed {
  background-color: #D8D8D8;
  padding: 100px 0;
  margin: 50px 0 0 0; }
  @media only screen and (max-width: 576px) {
    .indexMed {
      padding: 50px 0; } }
  .indexMed__column {
    margin: 0; }
    @media only screen and (max-width: 992px) {
      .indexMed__column {
        display: flex;
        flex-direction: column-reverse; } }
    .indexMed__columnFotos {
      display: flex;
      flex-wrap: wrap;
      padding-top: 25px; }
      .indexMed__columnFotos img {
        width: 450px;
        padding: 10px 0 0 10px;
        box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.5);
        border-radius: 20px 0; }
        @media only screen and (max-width: 576px) {
          .indexMed__columnFotos img {
            width: 100%; } }
    .indexMed__columnBox {
      width: 40%; }
      @media only screen and (max-width: 992px) {
        .indexMed__columnBox {
          width: 80%;
          padding: 0; } }
      .indexMed__columnBoxTexto {
        display: flex;
        flex-direction: column; }
        .indexMed__columnBoxTexto p {
          font-size: 1rem;
          font-family: "Commissioner", sans-serif;
          color: #333333;
          text-align: none;
          font-weight: bold;
          margin: 10px 0; }
          @media only screen and (max-width: 576px) {
            .indexMed__columnBoxTexto p {
              font-size: 0.8rem; } }

.indexInferior {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  padding-top: 50px; }
  .indexInferior__texto {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0; }
    @media only screen and (max-width: 576px) {
      .indexInferior__texto {
        flex-direction: column-reverse;
        align-items: center; } }
  .indexInferior__caja {
    width: 60%; }
    @media only screen and (max-width: 576px) {
      .indexInferior__caja {
        width: 80%; } }
    .indexInferior__caja p {
      font-size: 1rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: start;
      font-weight: bold;
      margin-top: 40px;
      padding-left: 20px; }
      @media only screen and (max-width: 576px) {
        .indexInferior__caja p {
          font-size: 0.8rem; } }
      @media only screen and (max-width: 576px) {
        .indexInferior__caja p {
          margin: 0;
          padding: 0;
          text-indent: 1.5em; } }
  .indexInferior__imagen {
    display: flex;
    justify-content: center; }
    .indexInferior__imagen img {
      width: 70%;
      box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.5);
      border-radius: 20px 0; }
      @media only screen and (max-width: 576px) {
        .indexInferior__imagen img {
          width: 100%; } }

#index__fotosCarrousel {
  width: 70%; }
  @media only screen and (max-width: 576px) {
    #index__fotosCarrousel {
      width: 100%; } }

@media only screen and (max-width: 576px) {
  .QSTitulo h1 {
    margin-bottom: 50px; } }

.QSSuperior {
  display: flex;
  justify-content: space-between;
  background-color: #D8D8D8;
  height: fit-content;
  padding: 50px 100px; }
  @media only screen and (max-width: 992px) {
    .QSSuperior {
      display: none; } }
  .QSSuperior__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none; }
    .QSSuperior__imagenesFoto {
      width: 400px;
      margin-bottom: 10px;
      box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.5); }
      @media only screen and (max-width: 992px) {
        .QSSuperior__imagenesFoto {
          width: 80%; } }
      @media only screen and (max-width: 576px) {
        .QSSuperior__imagenesFoto {
          width: 100%; } }
  .QSSuperior__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none; }
    @media only screen and (max-width: 992px) {
      .QSSuperior__texto {
        width: 80%;
        padding: 30px 0; } }
    @media only screen and (max-width: 576px) {
      .QSSuperior__texto {
        width: 100%; } }
    .QSSuperior__textoSecundario {
      font-size: 1.5rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: center;
      font-weight: bold; }
      @media only screen and (max-width: 576px) {
        .QSSuperior__textoSecundario {
          font-size: 1.1rem; } }
    .QSSuperior__textoParrafo {
      font-size: 1rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold;
      padding-left: 50px;
      text-indent: 1.5em; }
      @media only screen and (max-width: 576px) {
        .QSSuperior__textoParrafo {
          font-size: 0.8rem; } }
      @media only screen and (max-width: 992px) {
        .QSSuperior__textoParrafo {
          padding: 0; } }
      @media only screen and (max-width: 576px) {
        .QSSuperior__textoParrafo {
          padding: 0 30px; } }
    .QSSuperior__textoSubtitulo {
      font-size: 1rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: center;
      font-weight: bold;
      padding-top: 30px; }
      @media only screen and (max-width: 576px) {
        .QSSuperior__textoSubtitulo {
          font-size: 0.8rem; } }
    .QSSuperior__textoFirma {
      font-size: 1rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: end;
      font-weight: bold;
      padding-top: 50px; }
      @media only screen and (max-width: 576px) {
        .QSSuperior__textoFirma {
          font-size: 0.8rem; } }
      @media only screen and (max-width: 992px) {
        .QSSuperior__textoFirma {
          align-self: flex-end;
          padding-right: 30px; } }
  .QSSuperior992 {
    display: none; }
    @media only screen and (max-width: 992px) {
      .QSSuperior992 {
        display: flex;
        flex-direction: column;
        background-color: #D3D3D3;
        padding: 50px 0; } }

.QSMedio {
  height: fit-content;
  background-color: #6D6D6D;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .QSMedio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 576px) {
    .QSMedio {
      width: 100%; } }
  .QSMedio__caja {
    width: 30%; }
    @media only screen and (max-width: 992px) {
      .QSMedio__caja {
        width: 70%; } }
    .QSMedio__cajaParrafo {
      font-size: 1rem;
      font-family: "Commissioner", sans-serif;
      color: #D3D3D3;
      text-align: none;
      font-weight: bold;
      text-indent: 1.5em; }
      @media only screen and (max-width: 576px) {
        .QSMedio__cajaParrafo {
          font-size: 0.8rem; } }
      @media only screen and (max-width: 992px) {
        .QSMedio__cajaParrafo {
          padding-top: 75px; } }
    .QSMedio__cajaImagenes {
      gap: 15px;
      padding: 75px 0; }
      .QSMedio__cajaImagenesFoto {
        height: 60vh;
        box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.5); }
        @media only screen and (max-width: 576px) {
          .QSMedio__cajaImagenesFoto {
            width: 45vw;
            height: auto; } }

.festSup h1 {
  display: flex;
  justify-content: center; }

.festSup h3 {
  font-size: 1rem;
  font-family: "Commissioner", sans-serif;
  color: #333333;
  text-align: center;
  font-weight: bold; }
  @media only screen and (max-width: 576px) {
    .festSup h3 {
      font-size: 0.8rem; } }

@media only screen and (max-width: 992px) {
  .festSup__card {
    width: 100%;
    gap: 15px; } }

.festSup__card h2 {
  font-size: 1.5rem;
  font-family: "Commissioner", sans-serif;
  color: #333333;
  text-align: center;
  font-weight: bold;
  padding-top: 50px; }
  @media only screen and (max-width: 576px) {
    .festSup__card h2 {
      font-size: 1.1rem; } }

.festSup__cardPrimer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #E0E2E1;
  padding: 30px 0;
  font-weight: bolder;
  gap: 15px; }

.festSup__cardSegundo {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #D8D8D8;
  padding: 30px 0;
  font-weight: bolder;
  gap: 15px; }

.festSup__cardTercer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #C9C9C9;
  padding: 30px 0;
  font-weight: bolder;
  gap: 15px; }

.festSup__cardCuarto {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #C1C1C1;
  padding: 30px 0;
  font-weight: bolder;
  gap: 15px; }

.festSup__cardQuinto {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #B7B7B7;
  padding: 30px 0;
  font-weight: bolder;
  gap: 15px; }

.festSup__card img {
  width: 30%;
  object-fit: cover;
  border-radius: 20px 0; }
  @media only screen and (max-width: 992px) {
    .festSup__card img {
      width: 45%; } }
  @media only screen and (max-width: 576px) {
    .festSup__card img {
      width: 100%; } }

.festSup__cardText {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  @media only screen and (max-width: 992px) {
    .festSup__cardText {
      margin: 25px 0 50px 0; } }
  .festSup__cardText a {
    text-decoration: none; }
  .festSup__cardText p {
    font-size: 1rem;
    font-family: "Commissioner", sans-serif;
    color: #333333;
    text-align: none;
    font-weight: bold;
    transition: transform 0.5s; }
    @media only screen and (max-width: 576px) {
      .festSup__cardText p {
        font-size: 0.8rem; } }
    .festSup__cardText p:hover {
      transform: scale(1.2); }

.galeriaSup h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 992px) {
  .galeriaMed {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; } }

.galeriaMed__izq {
  align-items: end; }
  @media only screen and (max-width: 992px) {
    .galeriaMed__izq {
      align-items: center; } }

.galeriaMed__der {
  margin-top: 75px; }
  @media only screen and (max-width: 992px) {
    .galeriaMed__der {
      align-items: center;
      margin-top: 0; } }

.galeriaMed__fila img {
  width: 40vw;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px 0;
  margin: 10px 0; }
  @media only screen and (max-width: 992px) {
    .galeriaMed__fila img {
      width: 80vw; } }
  @media only screen and (max-width: 576px) {
    .galeriaMed__fila img {
      width: 100vw; } }

.galeriaMed__filaD img {
  width: 20vw;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px 0;
  margin: 10px 0; }
  @media only screen and (max-width: 992px) {
    .galeriaMed__filaD img {
      width: 40vw; } }
  @media only screen and (max-width: 576px) {
    .galeriaMed__filaD img {
      width: 50vw; } }

.contactoSup h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none; }

.contactoSup h2 {
  font-size: 1.5rem;
  font-family: "Commissioner", sans-serif;
  color: #333333;
  text-align: center;
  font-weight: bold; }
  @media only screen and (max-width: 576px) {
    .contactoSup h2 {
      font-size: 1.1rem; } }

.contactoMed__box {
  padding: 25px; }
  .contactoMed__boxIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none; }
    @media only screen and (max-width: 992px) {
      .contactoMed__boxIzq {
        align-items: center; } }
    .contactoMed__boxIzq h3 {
      font-size: 1.5rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold;
      border: solid 1px;
      border-color: #333333;
      border-radius: 5px;
      padding: 15px 25px;
      align-self: flex-start;
      margin: 25px 0; }
      @media only screen and (max-width: 576px) {
        .contactoMed__boxIzq h3 {
          font-size: 1.1rem; } }
      @media only screen and (max-width: 992px) {
        .contactoMed__boxIzq h3 {
          align-self: center; } }
      @media only screen and (max-width: 576px) {
        .contactoMed__boxIzq h3 {
          text-align: center; } }
    .contactoMed__boxIzq p {
      font-size: 1rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold;
      padding-top: 10px; }
      @media only screen and (max-width: 576px) {
        .contactoMed__boxIzq p {
          font-size: 0.8rem; } }
  .contactoMed__box h2 {
    font-size: 1.5rem;
    font-family: "Commissioner", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0; }
    @media only screen and (max-width: 576px) {
      .contactoMed__box h2 {
        font-size: 1.1rem; } }
    @media only screen and (max-width: 992px) {
      .contactoMed__box h2 {
        padding-top: 50px; } }
  .contactoMed__boxDer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0 25px 25px;
    background-color: #bdbdbd;
    margin: 50px 50px 0 0;
    width: 100%;
    height: fit-content;
    border-radius: 10px; }
    .contactoMed__boxDer p {
      font-size: 1.5rem;
      font-family: "Commissioner", sans-serif;
      color: #333333;
      text-align: start;
      font-weight: bold;
      margin: 30px 0; }
      @media only screen and (max-width: 576px) {
        .contactoMed__boxDer p {
          font-size: 1.1rem; } }
      @media only screen and (max-width: 576px) {
        .contactoMed__boxDer p {
          margin-right: 5px; } }

.contactoInf__imagen {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 50px 0; }
  .contactoInf__imagen img {
    width: 45%;
    border-radius: 20px 0; }
    @media only screen and (max-width: 576px) {
      .contactoInf__imagen img {
        width: 100%; }
        .contactoInf__imagen img img:nth-child(2) {
          display: none; } }
  @media only screen and (max-width: 576px) {
    .contactoInf__imagen img:nth-child(2) {
      display: none; } }

.contactoInf__texto {
  padding-top: 25px; }

.form-control {
  background-color: #F4F4F4;
  width: 90%; }

.form-label {
  font-size: 1rem;
  font-family: "Commissioner", sans-serif;
  color: #333333;
  text-align: start;
  font-weight: bold;
  padding-top: 20px; }
  @media only screen and (max-width: 576px) {
    .form-label {
      font-size: 0.8rem; } }

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #333333;
  flex-wrap: wrap;
  align-items: center;
  bottom: 0; }
  .footer__logo {
    display: flex;
    margin-left: 50px;
    padding: 75px 0; }
    @media only screen and (max-width: 576px) {
      .footer__logo {
        align-self: center;
        margin: 0; } }
    .footer__logoImagen {
      width: 30px; }
    .footer__logoTexto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: none; }
      .footer__logoTexto p {
        font-size: 1rem;
        font-family: "Commissioner", sans-serif;
        color: #D3D3D3;
        text-align: none;
        font-weight: bold;
        margin-left: 10px; }
        @media only screen and (max-width: 576px) {
          .footer__logoTexto p {
            font-size: 0.8rem; } }
  .footer__hv {
    display: flex;
    margin-right: 50px; }
    @media only screen and (max-width: 992px) {
      .footer__hv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px; } }
    @media only screen and (max-width: 576px) {
      .footer__hv {
        padding: 0;
        margin-bottom: 50px; } }
    .footer__hvLista {
      list-style: none;
      display: flex;
      align-items: center;
      padding-left: 20px; }
      @media only screen and (max-width: 992px) {
        .footer__hvLista {
          padding: 30px 0 0 10px; } }
      @media only screen and (max-width: 576px) {
        .footer__hvLista {
          padding-top: 30px; } }
      .footer__hvLista img {
        height: 30px;
        margin: 0 15px;
        transition: transform 0.5s; }
        .footer__hvLista img:hover {
          transform: scale(1.2); }
      .footer__hvLista p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: none;
        font-size: 1rem;
        font-family: "Commissioner", sans-serif;
        color: #D3D3D3;
        text-align: none;
        font-weight: bold;
        font-weight: lighter; }
        @media only screen and (max-width: 576px) {
          .footer__hvLista p {
            font-size: 0.8rem; } }

.cuatro {
  padding-top: 25px;
  background-color: #165c85; }
  .cuatro h1 {
    font-size: 125px;
    color: #D3D3D3;
    padding-bottom: 25px; }
  .cuatro h2 {
    font-size: 1.5rem;
    font-family: "Commissioner", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold;
    padding: 50px 0; }
    @media only screen and (max-width: 576px) {
      .cuatro h2 {
        font-size: 1.1rem; } }
  .cuatroCientos {
    display: flex;
    justify-content: space-evenly;
    background-color: #D3D3D3;
    padding: 50px 20px;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 25px;
    gap: 20px; }
    .cuatroCientos img {
      border-radius: 20px 0;
      width: 30vw;
      height: auto; }
      @media only screen and (max-width: 576px) {
        .cuatroCientos img {
          width: 80%; } }
    .cuatroCientosCuatro {
      width: 50vw; }
      @media only screen and (max-width: 576px) {
        .cuatroCientosCuatro {
          width: 100vw; } }
      .cuatroCientosCuatro a {
        text-decoration: none; }
        .cuatroCientosCuatro a p {
          font-size: 1.5rem;
          font-family: "Commissioner", sans-serif;
          color: #333333;
          text-align: center;
          font-weight: bold;
          margin: 0; }
          @media only screen and (max-width: 576px) {
            .cuatroCientosCuatro a p {
              font-size: 1.1rem; } }
