/* COLORES */
/* TIPOGRAFIAS */
/* VARIABLES */
.indexMed__columnBoxTexto h2, .QSTitulo h1, .festSup h1, .galeriaSup h1, .contactoSup h1, .contactoInf__texto {
  font-family: "Mulish", sans-serif;
  color: #333333;
  font-size: 35px;
  text-align: center; }

.index, .QS, .fest, .galeria, .contacto {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

/* GOOGLE FONTS

font-family: 'Mulish', sans-serif;
font-family: 'Quicksand', sans-serif;

*/
p {
  margin: 0; }

h5 {
  margin: 25px 0 50px 0;
  font-size: 16px;
  text-align: center; }

.boton {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  color: #333333;
  text-align: none;
  font-weight: bold;
  border: solid 1px;
  border-color: #333333;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  align-self: center;
  margin: 40px 0 20px 0;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s; }
  .boton:hover {
    color: #D3D3D3;
    font-weight: bolder;
    background-color: #165c85;
    cursor: pointer; }

.barraNavegacion {
  background-color: #165c85; }
  .barraNavegacion__imagen {
    width: 20px;
    padding: 30px 0 30px 0; }
  .barraNavegacion__texto {
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px; }
    .barraNavegacion__texto::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #D3D3D3;
      transform-origin: right;
      transform: scale(0);
      transition: transform 0.3s ease-in-out; }
    .barraNavegacion__texto:hover::after {
      transform-origin: left;
      transform: scale(1); }
    .barraNavegacion__texto:hover {
      color: #D3D3D3;
      font-weight: bolder; }
  .barraNavegacion__anchor {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    text-align: end;
    transition: background-color 0.5s;
    position: relative; }
    .barraNavegacion__anchor::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0px;
      height: 2px;
      width: 100%;
      background: #D3D3D3;
      transform-origin: right;
      transform: scale(0);
      transition: transform 0.3s ease-in-out; }
    .barraNavegacion__anchor:hover::after {
      transform-origin: left;
      transform: scale(1); }
    .barraNavegacion__anchor:hover {
      font-weight: bold;
      color: #D3D3D3; }

.navbar-collapse .collpase {
  display: flex;
  justify-content: end; }

.nav__mdsm {
  display: none; }

.navbar-light .navbar-nav .nav-link {
  color: #D3D3D3; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #D3D3D3; }

/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */
@media only screen and (max-width: 992px) {
  .barraNavegacion {
    background-color: #165c85;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    padding: 20px 0 20px 0; }
    .barraNavegacion__imagen {
      width: 30px; }
    .barraNavegacion__anchor::after {
      display: none; }
    .barraNavegacion__texto::after {
      display: none; }
  #navbarNav .navbar-collapse .collpase {
    display: flex;
    justify-content: end; }
  .nav__lg {
    display: none; }
  .nav__mdsm {
    display: flex;
    align-items: center; }
  .navbar-toggler:focus {
    color: #D3D3D3; }
  .navbar-light .navbar-toggler {
    border-color: #D3D3D3; }
    .navbar-light .navbar-toggler-icon {
      background-image: url(../Imagenes/menuHamburguesa.png); } }

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL */
@media only screen and (max-width: 576px) {
  .barraNavegacion {
    background-color: #165c85;
    width: 100%; }
    .barraNavegacion__texto {
      font-size: 15px; }
    .barraNavegacion__lista {
      padding: 0; }
    .barraNavegacion__anchor {
      font-size: 15px;
      padding: 10px 10px 30px 10px; }
  .container {
    margin: 0 50px 0 50px; } }

/* CUERPO SUPERIOR */
.index {
  /* CUERPO Med INDEX */
  /* CUERPO INFERIOR INDEX */ }
  .indexSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .indexSuperior h1 {
      color: #333333;
      font-size: 40px;
      font-weight: bold;
      font-family: "Mulish", sans-serif;
      margin: 100px 0 10px 0; }
    .indexSuperior h3 {
      font-size: 25px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: center;
      font-weight: bold;
      margin: 0 0 20px 0; }
  .indexMed {
    background-color: #D8D8D8;
    padding: 100px 0 100px 0;
    margin: 50px 0 0 0; }
    .indexMed__column {
      margin: 0; }
      .indexMed__columnFotos {
        display: flex;
        flex-wrap: wrap; }
        .indexMed__columnFotos img {
          width: 450px;
          padding: 10px 0 0 10px;
          box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493); }
      .indexMed__columnBox {
        width: 40%; }
        .indexMed__columnBoxTexto {
          display: flex;
          flex-direction: column; }
          .indexMed__columnBoxTexto p {
            font-size: 15px;
            font-family: "Mulish", sans-serif;
            color: #333333;
            text-align: none;
            font-weight: bold;
            margin: 10px 0 10px 0; }
  .indexInferior {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    padding: 50px 0 100px 0; }
    .indexInferior__texto {
      display: flex;
      justify-content: center;
      padding: 0 0 50px 0; }
    .indexInferior__caja {
      width: 60%; }
      .indexInferior__caja p {
        font-size: 15px;
        font-family: "Mulish", sans-serif;
        color: #333333;
        text-align: none;
        font-weight: bold;
        align-items: center;
        margin: 40px 0 0 20px; }
    .indexInferior__imagen {
      display: flex;
      justify-content: center; }
      .indexInferior__imagen img {
        width: 80%;
        box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493); }

#index__fotosCarrousel {
  width: 70%; }

/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */
@media only screen and (max-width: 992px) {
  /* MAIN INDEX */
  .indexSuperior h1 {
    font-size: 200%; }
  .indexMed__column {
    display: flex;
    flex-direction: column-reverse; }
    .indexMed__columnFotos {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .indexMed__columnFotos__foto {
        width: 50%; }
    .indexMed__columnBox {
      width: 80%;
      padding: 0; }
  .indexInferior__texto {
    margin: 0 0 0 0; }
  .indexInferior__imagen {
    align-self: center; }
    .indexInferior__imagenFoto {
      padding: 0; } }

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL */
@media only screen and (max-width: 576px) {
  #index__fotosCarrousel {
    width: 100%; }
  .indexSuperior h1 {
    margin: 50px 0 0 0;
    font-size: 20px;
    text-align: center; }
  .indexSuperior h3 {
    font-size: 15px;
    padding: 10px 0 0 0; }
  .indexMed {
    padding: 50px 0 50px 0; }
    .indexMed__columnFotos {
      display: flex;
      flex-wrap: wrap; }
      .indexMed__columnFotos img {
        width: 100%;
        padding: 5px 0 0 0; }
    .indexMed__columnBox {
      width: 80%;
      padding: 0; }
  .indexInferior {
    padding: 50px 0 50px 0; }
    .indexInferior__texto {
      padding: 0 0 30px 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
      .indexInferior__textoBoton {
        font-size: 20px;
        padding: 15px; }
    .indexInferior__caja {
      width: 80%;
      padding: 0; }
      .indexInferior__caja p {
        text-align: center;
        font-size: 20px; }
    .indexInferior__imagenFoto {
      width: 100%;
      padding: 0; } }

.QSTitulo h1 {
  margin: 100px 0 100px 0; }

.QSSuperior {
  display: flex;
  justify-content: space-between;
  background-color: #D8D8D8;
  height: fit-content;
  padding: 50px 100px 50px 100px; }
  .QSSuperior__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none; }
    .QSSuperior__imagenesFoto {
      width: 400px;
      margin: 0 0 10px 0;
      box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493); }
  .QSSuperior__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none; }
    .QSSuperior__textoSecundario {
      font-size: 25px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: center;
      font-weight: bold; }
    .QSSuperior__textoParrafo {
      font-size: 15px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold;
      padding: 0 0 0 50px;
      text-indent: 1.5em; }
    .QSSuperior__textoSubtitulo {
      font-size: 15px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: center;
      font-weight: bold;
      padding: 30px 0 0 0; }
    .QSSuperior__textoFirma {
      font-size: 15px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: end;
      font-weight: bold;
      padding: 50px 100px 0 0; }
  .QSSuperior992 {
    display: none; }

.QSMedio {
  height: fit-content;
  background-color: #6D6D6D;
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 100px 0;
  align-items: center; }
  .QSMedio__caja {
    width: 30%;
    padding: 50px 0 50px 0; }
    .QSMedio__cajaParrafo {
      font-size: 15px;
      font-family: "Mulish", sans-serif;
      color: #D3D3D3;
      text-align: none;
      font-weight: bold;
      text-indent: 1.5em; }
    .QSMedio__cajaImagenes {
      gap: 15px;
      padding: 100px 0 100px 0; }
      .QSMedio__cajaImagenesFoto {
        height: 50vh;
        box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493); }

@media only screen and (max-width: 992px) {
  .QSSuperior {
    display: none; }
    .QSSuperior992 {
      display: flex;
      flex-direction: column;
      background-color: #D3D3D3;
      padding: 50px; }
    .QSSuperior__imagenes {
      display: flex;
      align-items: center; }
      .QSSuperior__imagenesFoto {
        width: 80%; }
    .QSSuperior__texto {
      width: 80%;
      padding: 30px 0 30px 0; }
      .QSSuperior__textoParrafo {
        padding: 0; }
      .QSSuperior__textoFirma {
        align-self: end;
        padding: 50px 0 0 0; }
  .QSMedio {
    display: flex;
    flex-direction: column; }
    .QSMedio__caja {
      width: 70%;
      padding: 100px 0 50px 0; }
      .QSMedio__cajaImagenes {
        padding: 0 0 100px 0; } }

@media only screen and (max-width: 576px) {
  .QSSuperior992 {
    padding: 50px 0 50px 0; }
  .QSSuperior__imagenesFoto {
    width: 100%; }
  .QSSuperior__textoFirma {
    padding-right: 20px; }
  .QSMedio {
    width: 100%;
    padding: 0;
    margin: 50px 0 50px 0; }
    .QSMedio__cajaImagenesFoto {
      width: 45vw;
      height: auto; } }

.fest {
  padding: 100px 0 100px 0; }
  .festSup h1 {
    display: flex;
    justify-content: center; }
  .festSup h3 {
    font-size: 15px;
    font-family: "Mulish", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold; }
  .festSup__card h2 {
    font-size: 25px;
    font-family: "Mulish", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold;
    padding-top: 50px; }
  .festSup__cardPrimer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #E0E2E1;
    padding: 20px 0 20px 0;
    font-weight: bolder; }
  .festSup__cardSegundo {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #D8D8D8;
    padding: 20px 0 20px 0;
    font-weight: bolder; }
  .festSup__cardTercer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #C9C9C9;
    padding: 20px 0 20px 0;
    font-weight: bolder; }
  .festSup__cardCuarto {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #C1C1C1;
    padding: 20px 0 20px 0;
    font-weight: bolder; }
  .festSup__cardQuinto {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #B7B7B7;
    padding: 20px 0 20px 0;
    font-weight: bolder; }
  .festSup__card img {
    width: 30%;
    object-fit: cover; }
  .festSup__cardText {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
    .festSup__cardText p {
      font-size: 15px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold;
      font-weight: bold;
      transition: transform 0.5s; }
      .festSup__cardText p:hover {
        transform: scale(1.1); }

@media only screen and (max-width: 992px) {
  .festSup__card {
    width: 100%; }
    .festSup__card img {
      width: 50%; }
    .festSup__cardText {
      margin: 50px 0 25px 0; } }

@media only screen and (max-width: 576px) {
  .festSup__cardPrimer, .festSup__cardSegundo, .festSup__cardTercero, .festSup__cardCuarto, .festSup__cardQuinto {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px; }
  .festSup__card img {
    width: 100%; }
  .festSup__cardText {
    margin: 30px 0 30px 0; } }

.galeria {
  width: 100%; }
  .galeriaSup h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0; }
  .galeriaMed {
    margin-bottom: 100px; }
    .galeriaMed__izq {
      align-items: end; }
    .galeriaMed__der {
      margin-top: 75px; }
    .galeriaMed__fila img {
      width: 40vw;
      object-fit: cover;
      padding: 10px;
      border-radius: 20px 0 20px 0;
      margin: 10px 0 10px 0; }
    .galeriaMed__filaD img {
      width: 20vw;
      object-fit: cover;
      padding: 10px;
      border-radius: 20px 0 20px 0;
      margin: 10px 0 10px 0; }

@media only screen and (max-width: 992px) {
  .galeriaMed {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .galeriaMed__izq {
      align-items: center; }
    .galeriaMed__der {
      align-items: center;
      margin-top: 0; }
    .galeriaMed__fila img {
      width: 80vw; }
    .galeriaMed__filaD img {
      width: 40vw; } }

@media only screen and (max-width: 576px) {
  .galeriaMed__filaD img {
    width: 50vw;
    border-radius: 0px; }
  .galeriaMed__fila img {
    width: 100vw;
    border-radius: 0px; } }

.contactoSup h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  margin-top: 100px; }

.contactoSup h2 {
  font-size: 25px;
  font-family: "Mulish", sans-serif;
  color: #333333;
  text-align: center;
  font-weight: bold; }

.contactoMed__box {
  padding: 25px; }
  .contactoMed__boxIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none; }
    @media only screen and (max-width: 992px) {
      .contactoMed__boxIzq {
        align-items: center; } }
    .contactoMed__boxIzq h3 {
      font-size: 25px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold;
      font-size: 20px;
      border: solid 1px;
      border-color: #333333;
      border-radius: 5px;
      padding: 15px 25px 15px 25px;
      align-self: flex-start;
      margin: 25px 0 25px 0; }
      @media only screen and (max-width: 992px) {
        .contactoMed__boxIzq h3 {
          align-self: center; } }
      @media only screen and (max-width: 576px) {
        .contactoMed__boxIzq h3 {
          font-size: 20px; } }
    .contactoMed__boxIzq p {
      padding-top: 10px;
      font-size: 15px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: none;
      font-weight: bold; }
  .contactoMed__box h2 {
    font-size: 25px;
    font-family: "Mulish", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 30px 0; }
    @media only screen and (max-width: 992px) {
      .contactoMed__box h2 {
        padding-top: 50px; } }
  .contactoMed__boxDer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0 25px 25px;
    background-color: #bdbdbd;
    margin: 50px 50px 0 0;
    width: 100%;
    height: fit-content;
    border-radius: 10px; }
    .contactoMed__boxDer p {
      font-size: 25px;
      font-family: "Mulish", sans-serif;
      color: #333333;
      text-align: start;
      font-weight: bold;
      margin: 30px 0 30px 0; }

.contactoInf__imagen {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 50px 0 50px 0; }
  .contactoInf__imagen img {
    width: 45%;
    border-radius: 20px 0 20px 0; }
    @media only screen and (max-width: 576px) {
      .contactoInf__imagen img {
        width: 100%; }
        .contactoInf__imagen img img:nth-child(2) {
          display: none; } }
  @media only screen and (max-width: 576px) {
    .contactoInf__imagen img:nth-child(2) {
      display: none; } }

.contactoInf__texto {
  padding: 25px 0 75px 0; }

.form-control {
  background-color: #F4F4F4;
  width: 90%; }

.form-label {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  color: #333333;
  text-align: start;
  font-weight: bold; }

.footer {
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .footer__logo {
    display: flex;
    margin: 0 0 0 50px;
    padding: 75px 0 75px 0; }
    .footer__logoImagen {
      width: 30px; }
    .footer__logoTexto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: none; }
      .footer__logoTexto p {
        font-size: 15px;
        font-family: "Mulish", sans-serif;
        color: #D3D3D3;
        text-align: none;
        font-weight: bold;
        margin-left: 10px; }
  .footer__hv {
    display: flex;
    margin: 0 50px 0 0; }
    .footer__hvLista {
      list-style: none;
      display: flex;
      padding: 0 0 0 20px; }
      .footer__hvListaLogo {
        height: 40px;
        margin: 0 15px 0 15px;
        transition: transform 0.5s; }
        .footer__hvListaLogo:hover {
          transform: scale(1.2); }
      .footer__hvListaLogoG {
        height: 40px;
        margin: 0 15px 0 15px; }
      .footer__hvListaEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: none;
        font-family: 'Mulish', sans-serif;
        color: #D3D3D3;
        font-size: 15px; }
      .footer__hvListaDireccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: none;
        font-family: 'Mulish', sans-serif;
        color: #D3D3D3;
        font-size: 15px; }

/* MEDIUM MEDIUM MEDIUM */
@media only screen and (max-width: 992px) {
  .footer__hv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px 30px 0; }
    .footer__hvLista {
      padding: 30px 0 0 10px; }
      .footer__hvListaEmail {
        font-size: 13px; }
      .footer__hvListaDireccion {
        font-size: 13px; } }

/* SMALL SMALL SMALL */
@media only screen and (max-width: 576px) {
  .footer__hv {
    padding: 0 0 0 0;
    margin: 0 0 50px 0; }
    .footer__hvLista {
      padding: 30px 0 0 0; }
  .footer__logo {
    align-self: center;
    margin: 0; } }
