*{
    margin: 0;
    margin: 0;
}

/* GOOGLE FONTS

font-family: 'Mulish', sans-serif;
font-family: 'Quicksand', sans-serif;

*/

/* HEADER */

body {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas: 
        "cabecera"
        "cuerpo"
        "pie"
    ;
}

header {
    grid-area: cabecera;
}

main {
    grid-area: cuerpo;
}

footer {
    grid-area: pie;
}


.barraNavegacion{
    background-color: #333333;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu__desplegable {
    display: none;
}

.barraNavegacion__logoTexto {
    display: flex;
    align-items: center;
}

.barraNavegacion__imagen {
    width: 20px;
    padding: 30px 0 30px 0;
}

.logoTexto__anchor {
    text-decoration: none;
}

.barraNavegacion__texto {
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.barraNavegacion__hamburguesa {
    display: none;
}

.barraNavegacion__lista {
    display: flex;
    list-style: none;
}

.barraNavegacion__anchor {
    color: #D3D3D3;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    padding: 15px;
    display: inline-block;
    position: relative;
}

.barraNavegacion__anchor:hover {
    font-weight: bold;
    color: #333333;
    background-color: #D3D3D3;
    border-radius: 5px;
}

.barraNavegacion__texto:hover {
    font-weight: bold;
}

/* MAIN INDEX */

.cuerpo__superior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}

.tituloPrincipal__index {
    color: #333333;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    margin: 100px 0 10px 0;
}

.subtitulo__index {
    color: #333333;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 0 20px 0;
}

h5 {
    margin: 0 0 50px 0;
}

.fotoPrincipal__index {
    align-self: center;
    width: 80%;
    padding: 0 0 50px 0;
}

.cuerpo__medio {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D8D8D8;
    height: fit-content;
    padding: 100px 0 100px 0;
}

.fotos__medio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotoMedio__index{
    width: 400px;
    padding: 10px 0 0 10px;
}

.texto__medio {
    display: flex;
    flex-direction: column;
}

.cajaTexto {
    width: 30%;
    padding: 0 50px 0 20px;
}

.tituloSecundario__index {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: #333333;
}

.lineaMedio__index {
    align-self: center;
    margin: 20px 0 20px 0;
}

.subtituloMedio__index {
    font-family: 'Mulish', sans-serif;
    color: #333333;
    margin: 10px 0 10px 0;
    font-size: 25px;
}

.botonVerMas__index {
    align-self: center;
    padding: 15px 25px 15px 25px;
    border: solid 1px;
    border-color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
    border-radius: 2px;
    text-decoration: none;
    margin: 40px 0 20px 0;
}


.cuerpo__inferior {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

.cajaTexto__inferior {
    width: 60%;
}

.texto__inferior {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0 0 50px 0;
}

.botonGaleria__index {
    align-self: center;
    padding: 15px 25px 15px 25px;
    border: solid 1px;
    border-color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
    border-radius: 2px;
    text-decoration: none;
}

.subtituloInferior__index {
    font-family: 'Mulish', sans-serif;
    color: #333333;
    margin: 0 0 0 20px;
}

.imagenes__inferior {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fotoInferior__1 {
    width: 750px;
    padding: 0 5px 0 0;
}

.imagenesInferior__pequeñas {
    width: 100%;
}

.fotoInferior__2{
    width: 372.5px;
}

.fotoInferior__3 {
    width: 372.5px;
}

/* MAIN QUIENES SOMOS */

.cuerpoSuperior1100__QS {
    display: none;
}

.main__QS {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPrincipal__QS {
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: #333333;
    margin: 50px 0 50px 0;
}

.cuerpoSuperior__QS {
    display: flex;
    justify-content: space-between;
    background-color: #D8D8D8;
    height: fit-content;
    padding: 50px 100px 50px 100px;
}

.cuerpoSuperiorQS__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenSuperior__QS {
    width: 400px;
    margin: 0 0 10px 0;
}

.cuerpoSuperiorQS__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloSecundario__QS {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    padding: 0 0 30px 0;
}

.parrafoSuperior__QS {
    padding: 0 0 0 50px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    text-indent: 1.5em;
}

.subtitulo__QS {
    text-align: center;
    padding: 50px 0 0 0;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
}

.subtituloFirma__QS {
    text-align: end;
    padding: 50px 125px 0 0;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
}

.cuerpoMedio__QS {
    height: fit-content;
    width: 80%;
    background-color: #6D6D6D;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
    align-items: center;
    padding: 0 20px;
}

.cuerpoMedio__cajaInferior {
    width: 30%;
    padding: 50px 0 50px 0;
}

.parrafoMedio__QS {
    color: #D3D3D3;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-indent: 1.5em;
}

.cuerpoMedioQS__imagenes {
    display: flex;
    padding: 0 0 0 30px;
}

.fotoMedioQS__1 {
    height: 300px;
}

.fotoMedioQS__2 {
    height: 300px;
}

/* MAIN GALERIA */

.tituloPrincipal__galeria {
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: #333333;
    margin: 50px 0 30px 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px 0 10px;
}

.galeria__imagen {
    height: 200px;
}

.galeria__imagenTexto {
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

/* MAIN CONTACTO */

.main__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSecundario__formulario {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 50px 0 20px 0;
}

.formulario {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #333333;
}

/* MAIN FESTIVAL */

.main__festival {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 300px;
}

.festival__texto {
    display: flex;
    flex-direction: column;
}

.tituloPrincipal__festival {
    color: #333333;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    margin: 50px 0 20px 0;
}


.tituloSecundario__festival {
    margin: 20px 0 20px 0;
    font-family: 'Mulish', sans-serif;

}

.festival {
    font-family: 'Mulish', sans-serif;
}

.subtitulo__festival {
    color: #333333;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 0 20px 0;
}

/* FOOTER */

footer {
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
}

.footer__logoTexto {
    display: flex;
    margin: 0 0 0 50px;
}

.footer__imagen {
    height: 100px;
    padding: 50px 0 50px 0;
}

.footer__logoTexto__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__texto {
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    margin-left: 10px;
    font-size: 20px;
}

.footer__hipervinculo {
    display: flex;
    margin: 0 50px 0 0;
}

.footer__lista {
    list-style: none;
    display: flex;
    padding: 0 0 0 20px;
}

.logoHipervinculoRedes {
    height: 40px;
    margin: 0 15px 0 15px;
}

.footer__email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    font-size: 15px;
}

.footer__direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    font-size: 15px;
}


@media only screen and (max-width: 1100px) {
  
    /* HEADER */

    .barraNavegacion{
        background-color: #ff0080;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
        padding: 20px 0 20px 0;
    }

    /* MAIN INDEX */

    .tituloPrincipal__index {
        font-size: 200%;
    }

    .cuerpo__medio {
        display: flex;
        flex-direction: column-reverse;
    }

    .cajaTexto {
        width: 80%;
        padding: 0;
    }

    .fotos__medio {
        margin: 0 0 0 0;
    }

    .fotoMedio__index {
        width: 40%;
    }

    .texto__inferior {
        margin: 0 0 0 0;
        justify-content: center;
    }

    .imagenes__inferior {
        align-self: center;
    }

    /* MAIN QUIENES SOMOS */

    .cuerpoSuperior__QS {
        display: none;
    }

    .h1__QS {
        font-size: 35px;
    }

    .cuerpoSuperior1100__QS {
        display: flex;
        flex-direction: column;
        background-color: #D3D3D3;
        padding: 50px;
    }

    .cuerpoSuperiorQS__imagenes {
        display: flex;
        align-items: center;
    }

    .imagenSuperior__QS {
        width: 80%;
    }

    .parrafosJuntos {
        width: 80%;
        padding: 30px 0 30px 0;
}

    .parrafoSuperior__QS {
        font-size: 20px;
        font-family: 'Mulish', sans-serif;
        color: #333333;
        text-indent: 1.5em;
        padding: 0;
    }

    .subtituloFirma__QS {
        align-self: end;
        padding: 50px 0 0 0;
    }

    .cuerpoMedio__QS {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px;
    }

    .cuerpoMedio__cajaInferior {
        width: 70%;
    }
    
    /* FOOTER */

    .footer__hipervinculo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px 30px 0;
    }

    .footer__lista {
        padding: 0 0 0 10px;
    }

    .footer__email{
        font-size: 13px;
    }

    .footer__direccion {
        font-size: 13px;
    }

}

@media only screen and (max-width: 360px) {
  

    /* HEADER */

    .barraNavegacion{
        background-color: #268d37;
        width: 100%;
        margin: 0;
    }

    .barraNavegacion__imagen {
        padding: 0;
    }

    .barraNavegacion__texto {
        font-size: 15px;
    }

    .barraNavegacion__lista {
        padding: 0;
    }

    .barraNavegacion__anchor {
        font-size: 15px;
        padding: 10px;
    }

    /* MAIN INDEX */

    .tituloPrincipal__index {
        margin: 50px 0 0 0;
        font-size: 20px;
        text-align: center;
    }

    .subtitulo__index {
        font-size: 15px;
        padding: 10px 0 0 0;
    }

    .fotoPrincipal__index {
        width: 100%;
    }

    .cuerpo__medio {
        padding: 50px 0 50px 0;
    }

    .tituloSecundario__index {
        font-size: 20px;
    }

    .subtituloMedio__index {
        font-size: 15px;
        text-align: center;
    }

    .botonVerMas__index {
        margin: 20px 0 20px 0;
        font-size: 20px;
        padding: 15px;
    }

    .fotos__medio {
        display: flex;
        flex-wrap: wrap;
    }

    .fotoMedio__index {
        width: 80%;
        padding: 5px 0 0 0;
    }

    .cajaTexto {
        width: 80%;
        padding: 0;
    }

    .cuerpo__inferior {
        padding: 50px 0 50px 0;
    }

    .texto__inferior {
        padding: 0 0 30px 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .cajaTexto__inferior {
        width: 80%;
        padding: 0;
    }

    .subtituloInferior__index {
        font-size: 15px;
        padding: 0 0 30px 0;
        text-align: center;
    }

    .fotoInferior__1 {
        width: 100%;
        padding: 0;
    }

    .imagenesInferior__pequeñas {
        width: 50%;
        padding: 0;
    }

    .botonGaleria__index {
        font-size: 20px;
        padding: 15px;
    }

    /* MAIN QUIENES SOMOS */

    h1 {
        font-size: 25px;
        width: 100%;
    }

    .cuerpoSuperior__QS {
        display: none;
    }

    .h1__QS {
        font-size: 35px;
    }

    .cuerpoSuperior1100__QS {
        display: flex;
        flex-direction: column;
        background-color: #D3D3D3;
        padding: 50px;
    }

    .cuerpoSuperiorQS__imagenes {
        display: flex;
        align-items: center;
    }

    .imagenSuperior__QS {
        width: 80%;
    }

    .parrafosJuntos {
        width: 80%;
        padding: 30px 0 30px 0;
}

    .parrafoSuperior__QS {
        font-size: 20px;
        font-family: 'Mulish', sans-serif;
        color: #333333;
        text-indent: 1.5em;
        padding: 0;
    }

    .subtituloFirma__QS {
        align-self: end;
        padding: 50px 0 0 0;
    }

    .cuerpoMedio__QS {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px;
    }

    .cuerpoMedio__cajaInferior {
        width: 70%;
    }

    /* FOOTER */

    .footer__imagen {
        padding: 30px 0 0 0;
    }

    .footer__hipervinculo {
        padding: 0 0 0 0;
        margin: 0 0 50px 0;
    }
    
    .footer__logoTexto {
        align-self: center;
        margin: 0;
    }

    .footer__lista {
        padding: 30px 0 0 0;
    }
}