
/* GOOGLE FONTS

font-family: 'Mulish', sans-serif;
font-family: 'Quicksand', sans-serif;

*/

/* HEADER */

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}


.barraNavegacion{
    background-color: #165c85;
}

.navbar-collapse .collpase{
    display: flex;
    justify-content: end;
}

.barraNavegacion__imagen {
    width: 20px;
    padding: 30px 0 30px 0;
}

.barraNavegacion__texto {
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
}

.barraNavegacion__texto::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #D3D3D3;
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.barraNavegacion__texto:hover::after {
    transform-origin: left;
    transform: scale(1);
}

.barraNavegacion__texto:hover {
    color: #D3D3D3;
    font-weight: bolder;
}

.nav__mdsm {
    display: none;
}

.barraNavegacion__anchor {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    padding: 10px;
    text-align: end;
    transition: background-color 0.5s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    color: #D3D3D3;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #D3D3D3;
}

.barraNavegacion__anchor::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #D3D3D3;
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.barraNavegacion__anchor:hover::after {
    transform-origin: left;
    transform: scale(1);
}


.barraNavegacion__anchor:hover {
    font-weight: bold;
    color: #D3D3D3;
}

/* CUERPO SUPERIOR INDEX */

.cuerpo__superior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}

.tituloPrincipal__index {
    color: #333333;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    margin: 100px 0 10px 0;
}

.subtitulo__index {
    color: #333333;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 0 20px 0;
}

h5 {
    margin: 0 0 50px 0;
    font-size: 16px;
    align-self: center;
}

#fotosPrincipal__index {
    align-self: center;
    width: 70%;
}

/* CUERPO MEDIO INDEX */

.cuerpo__medio {
    background-color: #D8D8D8;
    padding: 100px 0 100px 0;
    margin: 50px 0 0 0;
}

.columnas__medio {
    margin: 0;
}

.fotos__medio {
    display: flex;
    flex-wrap: wrap;
}

.fotoMedio__index{
    width: 450px;
    padding: 10px 0 0 10px;
    box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493);}

.texto__medio {
    display: flex;
    flex-direction: column;
}

.cajaTexto {
    width: 40%;
}

.tituloSecundario__index {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: #333333;
}

.lineaMedio__index {
    align-self: center;
    margin: 20px 0 20px 0;
}

.subtituloMedio__index {
    font-family: 'Mulish', sans-serif;
    color: #333333;
    margin: 10px 0 10px 0;
    font-size: 25px;
}

.botonVerMas__index {
    align-self: center;
    padding: 15px 25px 15px 25px;
    border: solid 1px;
    border-color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
    border-radius: 2px;
    text-decoration: none;
    margin: 40px 0 20px 0;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

.botonVerMas__index:hover {
    color: #D3D3D3;
    font-weight: bolder;
    background-color: #165c85;
}

/* CUERPO INFERIOR INDEX */

.cuerpo__inferior {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

.cajaTexto__inferior {
    width: 60%;
}

.texto__inferior {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0 0 50px 0;
}

.botonGaleria__index {
    align-self: center;
    padding: 15px 25px 15px 25px;
    border: solid 1px;
    border-color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
    border-radius: 2px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

}

.botonGaleria__index:hover {
    color: #D3D3D3;
    font-weight: bolder;
    background-color: #165c85;
}

.subtituloInferior__index {
    font-family: 'Mulish', sans-serif;
    color: #333333;
    margin: 0 0 0 20px;
}


.imagenInferior__principal {
    width: 80%;
}

.imagenes__inferior {
    display: flex;
    justify-content: center;
}

.fotoInferior__1 {
    width: 80%;
    box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493);
}

/* MAIN QUIENES SOMOS */

.cuerpoSuperior1100__QS {
    display: none;
}

main {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPrincipal__QS h1{
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    font-size: 35px;
    margin: 100px 0 100px 0;
}

.cuerpoSuperior__QS {
    display: flex;
    justify-content: space-between;
    background-color: #D8D8D8;
    height: fit-content;
    padding: 50px 100px 50px 100px;
}

.cuerpoSuperiorQS__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenSuperior__QS {
    width: 400px;
    margin: 0 0 10px 0;
    box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493);
}

.cuerpoSuperiorQS__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloSecundario__QS {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    padding: 0 0 30px 0;
    font-size: 30px;
}

.parrafoSuperior__QS {
    padding: 0 0 0 50px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    text-indent: 1.5em;
}

.subtitulo__QS {
    text-align: center;
    padding: 50px 0 0 0;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
}

.subtituloFirma__QS {
    text-align: end;
    padding: 50px 125px 0 0;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
}

/* .cuerpoMedio__QS {
    height: fit-content;
    width: 80%;
    background-color: #6D6D6D;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
    align-items: center;
    
}

.cuerpoMedio__cajaInferior {
    width: 30%;
    padding: 50px 0 50px 0;
}

.parrafoMedio__QS {
    color: #D3D3D3;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-indent: 1.5em;
}

.cuerpoMedioQS__imagenes {
    display: flex;
    padding: 50px 0 50px 0;
}

.fotoMedioQS__1 {
    height: 300px;
}

.fotoMedioQS__2 {
    height: 300px;
} */

.cuerpoMedio__QS {
    height: fit-content;
    background-color: #6D6D6D;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
    align-items: center;
}

.cuerpoMedio__cajaInferior {
    width: 30%;
    padding: 50px 0 50px 0;
}

.parrafoMedio__QS {
    color: #D3D3D3;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-indent: 1.5em;
}

.cuerpoMedioQS__imagenes {
    gap: 15px;
    padding: 100px 0 100px 0;
}

.fotoMedioQS {
    height: 40vh;
    box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493);
}

/* MAIN GALERIA */

.main__galeria {
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tituloPrincipal__galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
}

.tituloPrincipal__galeria h5 {
    padding: 20px 0 0 0;
    color: #333333;
}

.tituloPrincipal__galeria h1 {
    color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
}

/* .columnas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.columnaIzquierda {
    display: flex;
    flex-direction: column;
    padding: 0 0 75px 0;
}

.columnaDerecha {
    display: flex;
    flex-direction: column;
    padding: 75px 0 0 0;
}

.columnaFila {
    display: flex;
    flex-direction: row;
}
.imagenGaleria {
    width: 350px;
    object-fit: cover;
    padding: 5px;
}

.imagenGaleria1 {
    width: 710px;
    object-fit: cover;
    padding: 5px
} */

.CuerpoPrincipal__Galeria {
    margin-bottom: 100px;
}

.columnaIzquierda {
    align-items: end;
    row-gap: 20px;
}

.columnaDerecha {
    margin-top: 75px;
}

.imagenGaleria {
    width: 18vw;
    object-fit: cover;
    padding: 20px 10px 20px 10px;
}

.footer__lista {
    column-gap: 20px;
}

.imagenGaleria1 {
    width: 36vw;
    object-fit: cover;
    padding: 20px 10px 20px 10px;
}

/* MAIN CONTACTO */

.main__contacto {
    padding: 100px 0;
    background-color: #F4F4F4;
}

.tituloPrincipal__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    font-size: 35px;
    margin: 0 0 100px 0;
}

.tituloPrincipal__contacto h2{
    font-family: 'Mulish', sans-serif;
    color: #333333;
    font-size: 20px;
    text-align: center;
}

.cuerpo__formulario {
    display: flex;
    width: 100%;
}

.columnaDerecha__contacto {
    background-color: #6D6D6D;
}

.columnaIzquierda__contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.columnaIzquierda__contacto p{
    text-align: start;
}

.tituloDias__formulario {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: solid 1px;
    border-color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
    border-radius: 2px;
    text-decoration: none;
    margin: 40px 0 20px 0;
}

/* .main__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSecundario__formulario {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 50px 0 20px 0;
}

.formulario {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #333333;
} */

/* MAIN FESTIVAL */

/* .main__festival {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 300px;
}

.festival__texto {
    display: flex;
    flex-direction: column;
}

.tituloPrincipal__festival {
    color: #333333;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    margin: 50px 0 20px 0;
}


.tituloSecundario__festival {
    margin: 20px 0 20px 0;
    font-family: 'Mulish', sans-serif;

}

.festival {
    font-family: 'Mulish', sans-serif;
}

.subtitulo__festival {
    color: #333333;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 0 20px 0;
} */

.main__festival {
    width: 100%;
    background-color: #F4F4F4;
    padding: 100px 0 100px 0;
}

.tituloPrincipal__festival {
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    font-size: 35px;
    text-align: center;

}

.subtitulo__festival {
    font-size: 15px;
    padding: 10px 0 0 0;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.tituloSecundario__festival {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    color: #333333;
    text-align: center;
    padding-top: 50px;
}

.primeraParte h5{
    display: flex;
    justify-content: center;
}

.primeraParte__imagenes {
    display: flex;
    justify-content: center;
}

.segundaParte h5{
    display: flex;
    justify-content: center;
}

.primerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
    background-color: #6D6D6D;
    padding: 20px 0 20px 0;
}

.Container_texto {
    display: flex;
    justify-content: center;
    background-color: rgb(211, 211, 211, 0.25);
}

.sextoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
    background-color: #6D6D6D;
    padding: 20px 0 20px 0;
}

.imagen__festival {
    width: 30%;
    object-fit: cover;
}

/* FOOTER */

footer {
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer__logoTexto {
    display: flex;
    margin: 0 0 0 50px;
}

.footer__imagen {
    width: 30px;
    padding: 75px 0 75px 0;
}

.footer__logoTexto__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__texto {
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    margin-left: 10px;
    font-size: 20px;
}

.footer__hipervinculo {
    display: flex;
    margin: 0 50px 0 0;
}

.footer__lista {
    list-style: none;
    display: flex;
    padding: 0 0 0 20px;
}

.logoHipervinculoRedes {
    height: 40px;
    margin: 0 15px 0 15px;
    transition: transform 0.5s;
}

.logoHipervinculoRedes:hover {
    transform: scale(1.2);
}

.logoHipervinculoRedesG {
    height: 40px;
    margin: 0 15px 0 15px;
}

.footer__email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    font-size: 15px;
}

.footer__direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #D3D3D3;
    font-size: 15px;
}

/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */

@media only screen and (max-width: 992px) {
  
    /* HEADER */

    .barraNavegacion{
        background-color: #165c85;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
        padding: 20px 0 20px 0;
    }

    #navbarNav .navbar-collapse .collpase{
        display: flex;
        justify-content: end;
    }

    .barraNavegacion__anchor::after {
        display: none;
    }

    .barraNavegacion__texto::after {
        display: none;
    }

    .barraNavegacion__imagen {
        width: 30px;
    }

    .nav__lg {
        display: none;
    }

    .nav__mdsm {
        display: flex;
        align-items: center;
    }

    .navbar-light .navbar-toggler {
        border-color: #D3D3D3;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(./Imagenes/menuHamburguesa.png);
    }

    /* MAIN INDEX */

    .tituloPrincipal__index {
        font-size: 200%;
    }

    .columnas__medio {
        display: flex;
        flex-direction: column-reverse;
    }

    .cajaTexto {
        width: 80%;
        padding: 0;
    }

    .fotos__medio {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .fotoMedio__index {
        width: 50%;
    }

    .texto__inferior {
        margin: 0 0 0 0;
    }

    .imagenes__inferior {
        align-self: center;
    }

    .fotoInferior__1 {
        padding: 0;
    }

    /* MAIN QUIENES SOMOS */

    .cuerpoSuperior__QS {
        display: none;
    }

    .h1__QS {
        font-size: 35px;
    }

    .cuerpoSuperior1100__QS {
        display: flex;
        flex-direction: column;
        background-color: #D3D3D3;
        padding: 50px;
    }

    .cuerpoSuperiorQS__imagenes {
        display: flex;
        align-items: center;
    }

    .imagenSuperior__QS {
        width: 80%;
    }

    .parrafosJuntos {
        width: 80%;
        padding: 30px 0 30px 0;
    }

    .parrafoSuperior__QS {
        font-size: 20px;
        font-family: 'Mulish', sans-serif;
        color: #333333;
        text-indent: 1.5em;
        padding: 0;
    }

    .subtituloFirma__QS {
        align-self: end;
        padding: 50px 0 0 0;
    }

    /* .cuerpoMedio__QS {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px;
    }

    .cuerpoMedio__cajaInferior {
        width: 70%;
    } */

    .cuerpoMedio__QS {
        display: flex;
        flex-direction: column;
    }

    .cuerpoMedioQS__imagenes {
        padding: 0 0 100px 0;
    }

    .cuerpoMedio__cajaInferior {
        width: 70%;
        padding: 100px 0 50px 0;
    }

    /* MAIN GALERIA */

    /* .columnaDerecha {
        padding: 0 0 100px 0;
    }

    .columnaIzquierda {
        padding: 0;
    } */

    .CuerpoPrincipal__Galeria {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .columnaIzquierda {
        align-items: center;
    }

    .columnaDerecha {
        align-items: center;
        margin-top: 0;

    }

    .imagenGaleria {
        width: 40vw;
        object-fit: cover;
        padding: 10px;
        align-self: center;
    }
    
    .imagenGaleria1 {
        width: 80vw;
        object-fit: cover;
        padding: 10px;
    }
    
    /* FOOTER */

    .footer__hipervinculo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px 30px 0;
    }

    .footer__lista {
        padding: 0 0 0 10px;
    }

    .footer__email{
        font-size: 13px;
    }

    .footer__direccion {
        font-size: 13px;
    }

}

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL  */

@media only screen and (max-width: 576px) {
  
    /* HEADER */

    .barraNavegacion{
        background-color: #165c85;
        width: 100%;
    }

    .container {
        margin: 0 50px 0 50px;
    }

    .barraNavegacion__texto {
        font-size: 15px;
    }

    .barraNavegacion__lista {
        padding: 0;
    }

    .barraNavegacion__anchor {
        font-size: 15px;
        padding: 10px 10px 30px 10px;
    }

    /* MAIN INDEX */

    .tituloPrincipal__index {
        margin: 50px 0 0 0;
        font-size: 20px;
        text-align: center;
    }

    .subtitulo__index {
        font-size: 15px;
        padding: 10px 0 0 0;
    }

    #fotosPrincipal__index {
        width: 100%;
    }

    .cuerpo__medio {
        padding: 50px 0 50px 0;
    }

    .tituloSecundario__index {
        font-size: 20px;
    }

    .subtituloMedio__index {
        font-size: 15px;
        text-align: center;
    }

    .botonVerMas__index {
        margin: 20px 0 20px 0;
        font-size: 20px;
        padding: 15px;
    }

    .fotos__medio {
        display: flex;
        flex-wrap: wrap;
    }

    .fotoMedio__index {
        width: 80%;
        padding: 5px 0 0 0;
    }

    .cajaTexto {
        width: 80%;
        padding: 0;
    }

    .cuerpo__inferior {
        padding: 50px 0 50px 0;
    }

    .texto__inferior {
        padding: 0 0 30px 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .cajaTexto__inferior {
        width: 80%;
        padding: 0;
    }

    .subtituloInferior__index {
        font-size: 15px;
        padding: 0 0 30px 0;
        text-align: center;
    }

    .fotoInferior__1 {
        width: 100%;
        padding: 0;
    }

    .imagenesInferior__pequeñas {
        width: 50%;
        padding: 0;
    }

    .botonGaleria__index {
        font-size: 20px;
        padding: 15px;
    }

    .fotoInferior__2 {
        display: none;
    }

    .fotoInferior__3 {
        display: none;
    }

    /* MAIN QUIENES SOMOS */

    h1 {
        font-size: 25px;
        width: 100%;
        text-align: center;
    }

    .cuerpoSuperior__QS {
        display: none;
    }

    .cuerpoSuperior1100__QS {
        padding: 30px 0 30px 0;
    }

    .h1__QS {
        font-size: 30px;
    }

    .imagenSuperior__QS {
        width: 100%;
    }

    .subtitulo__QS {
        margin: 0 20px 0 20px;
    }

    .subtituloFirma__QS {
        padding-right: 20px;
    }

    .cuerpoMedio__QS {
        width: 100%;
        padding: 0;
        margin: 50px 0 50px 0;
    }

    .fotoMedioQS {
        width: 45vw;
        height: auto;
    }

    /* MAIN GALERIA */


    /* .columnaDerecha {
        padding: 0 0 100px 0;
    }

    .imagenGaleria {
        width: 50%;
        padding: 10px 0 0 0;
    }

    .imagenGaleria1 {
        width: 100%;
        padding: 10px 0 0 0;
    } */

    .columnaIzquierda {
        align-items: center;
    }

    .columnaDerecha {
        align-items: center;
        padding: 0;
    }

    .imagenGaleria {
        width: 50vw;
        object-fit: cover;
        padding: 10px;
        align-self: center;
    }
    
    .imagenGaleria1 {
        width: 100vw;
        object-fit: cover;
        padding: 10px;
    }

    /* FOOTER */

    .footer__hipervinculo {
        padding: 0 0 0 0;
        margin: 0 0 50px 0;
    }
    
    .footer__logoTexto {
        align-self: center;
        margin: 0;
    }

    .footer__lista {
        padding: 30px 0 0 0;
    }
}