.cuatro {
    @extend %main;
    padding-top: 25px;
    background-color: #165c85;

    & h1 {
        font-size: 125px;
        color: $color-letra-FO;
        padding-bottom: 25px
    }

    & h2 {
        @include subtitulo ($color-letra-FC, center);
        padding: 50px 0;
    }

    &Cientos {
        @include flexrow (space-evenly);
        background-color: $color-letra-FO;
        padding: 50px 20px;
        width: 90%;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 25px;
        gap: 20px;
        

        & img {
            border-radius: 20px 0;
            width: 30vw;
            height: auto;
            @include mQ (mobile) {
                width: 80%;
            }
        }  
        
        &Cuatro {
            width: 50vw;
            @include mQ (mobile) {
                width: 100vw;
            }

            & a {
                text-decoration: none;
        
                & p {
                    @include subtitulo ($color-letra-FC, center);
                    margin: 0;
                    
                }
            }
        }
    }
}  