.contacto {
    @extend %main;

    &Sup h1 {
        @include flexcolumn (none);
        @extend %titulo;
    }

    &Sup h2 {
        @include subtitulo ($color-letra-FC, center)
    }

    &Med__box {
        padding: 25px;

        &Izq {
            @include flexcolumn (none);

            @include mQ (tablet) {
                align-items: center;
            }

            & h3 {
                @include subtitulo ($color-letra-FC, none);
                font-size: 20px;
                @include border (flex-start, 25px 0 25px 0);
                @include mQ (tablet) {
                    align-self: center;
                }
                @include mQ (mobile) {
                    font-size: 20px;
                }
            }

            & p {
                padding-top: 10px;
                @include parrafo ($color-letra-FC, none);
            }
        }

        & h2{
            @include subtitulo ($color-letra-FC, center);
            font-size: 20px;
            margin: 30px 0;
            @include mQ (tablet) {
                padding-top: 50px;
            }
        }

        &Der {
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 0 0 25px 25px;
            background-color: #bdbdbd;
            margin: 50px 50px 0 0;
            width: 100%;
            height: fit-content;   
            border-radius: 10px;

            & p {
                @include subtitulo ($color-letra-FC, start);
                margin: 30px 0;
            }
        }
    }

    &Inf__imagen {
        @include flexrow (center);
        gap: 25px;
        margin: 50px 0;

        & img {
            width: 45%;
            border-radius: 20px 0;
            @include mQ (mobile) {
                width: 100%;
                & img:nth-child(2) {
                    display: none;
                }        
            }
        }

        & img:nth-child(2) {
            @include mQ (mobile) {
                    display: none;
            }        
        }        
    }

    &Inf__texto {
        padding-top: 25px;
        @extend %titulo;
    }
}

.form-control {
    background-color: #F4F4F4;
    width: 90%;
}

.form-label {
    @include parrafo ($color-letra-FC, start)
}

.boton {
    background-color: #bdbdbd;
}