.fest {
    @extend %main;
    
    &Sup {

        & h1 {
            @include flexrow (center);
            @extend %titulo;
        }
        
        & h3 {
            @include parrafo ($color-letra-FC, center);
        }

        &__card {
            @include mQ (tablet) {
                width: 100%;
                gap: 15px;
            }

            & h2 {
                @include subtitulo ($color-letra-FC, center);
                padding-top: 50px;
            }

            &Primer {
                @include container (row, #E0E2E1);
            }

            &Segundo {
                @include container (row-reverse, #D8D8D8);
            }
            
            &Tercer {
                @include container (row, #C9C9C9);
            }
            
            &Cuarto {
                @include container (row-reverse, #C1C1C1);
            }

            &Quinto {
                @include container (row, #B7B7B7);
            }

            & img {
                width: 30%;
                object-fit: cover;
                border-radius: 20px 0;
                @include mQ (tablet) {
                    width: 45%;
                }
                @include mQ (mobile) {
                    width: 100%;
                }          
            }

            &Text {
                @include flexrow (center);
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                @include mQ (tablet) {
                    margin: 25px 0 50px 0;
                }

                & a {
                    text-decoration: none;
                }

                & p {
                    @include parrafo ($color-letra-FC, none);
                    transition: transform 0.5s;

                    &:hover {
                        transform: scale(1.2);                    
                    }
                }
            }
        }
    }
}