.footer {
    @include flexrow (space-evenly);
    background-color: #333333;
    flex-wrap: wrap;
    align-items: center;

    &__logo {
        display: flex;
        margin: 0 0 0 50px;
        padding: 75px 0 75px 0;
        @include mQ (mobile) {
            align-self: center;
            margin: 0;    
        }

        &Imagen {
            width: 30px;
        }
        
        &Texto {
            @include flexcolumn (none);

            & p {
                @include parrafo ($color-letra-FO, none);
                margin-left: 10px;
            }
        }
    } 

    &__hv {
        display: flex;
        margin: 0 50px 0 0;
        @include mQ (tablet) {
            @include flexrow (center);
            flex-wrap: wrap;
            margin: 0 30px 30px 0;    
        }
        @include mQ (mobile) {
            padding: 0 0 0 0;
            margin: 0 0 50px 0;    
        }

        &Lista {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0 0 0 20px;
            @include mQ (tablet) {
                padding: 30px 0 0 10px;
            }
            @include mQ (mobile) {
                padding: 30px 0 0 0;    
            }

            & img {
                height: 30px;
                margin: 0 15px 0 15px;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.2);
                } 
                    
            }

            & p {
                @include flexcolumn (none);
                @include parrafo ($color-letra-FO, none);
                font-weight: lighter;
            }
        }
    } 
}