.footer {
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &__logo {
        display: flex;
        margin: 0 0 0 50px;
        padding: 75px 0 75px 0;

        &Imagen {
            width: 30px;
        }
        
        &Texto {
            @include flexcolumn (none);

            & p {
                @include parrafo ($color-letra-FO, none);
                margin-left: 10px;
            }
        }
    } 

    &__hv {
        display: flex;
        margin: 0 50px 0 0;

        &Lista {
            list-style: none;
            display: flex;
            padding: 0 0 0 20px;

            &Logo {
                height: 40px;
                margin: 0 15px 0 15px;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.2);
                } 
                    
            }

            &LogoG {
                height: 40px;
                margin: 0 15px 0 15px;
            }

            &Email {
                @include flexcolumn (none);
                font-family: 'Mulish', sans-serif;
                color: #D3D3D3;
                font-size: 15px;
            }

            &Direccion {
                @include flexcolumn (none);
                font-family: 'Mulish', sans-serif;
                color: #D3D3D3;
                font-size: 15px;
            }
        }
    } 
}

/* MEDIUM MEDIUM MEDIUM */

@media only screen and (max-width: 992px) {

    .footer__hv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px 30px 0;
    
        &Lista {
            padding: 30px 0 0 10px;
    
            &Email{
                font-size: 13px;
            }
    
            &Direccion {
                font-size: 13px;
            }    
        } 
    }
}



/* SMALL SMALL SMALL */

@media only screen and (max-width: 576px) {

    .footer__hv {
        padding: 0 0 0 0;
        margin: 0 0 50px 0;
    
        &Lista {
            padding: 30px 0 0 0;
        }
    }
    
    .footer__logo {
        align-self: center;
        margin: 0;
    }
}






