.galeria {
    @extend %main;
    
    &Sup h1 {
        @include flexcolumn (center);
        @extend %titulo;
    }

    &Med {

        &__izq {
            align-items: end;
        }

        &__der {
            margin-top: 75px;
        }

        &__fila img {
            width: 40vw;
            object-fit: cover;
            padding: 10px;
            border-radius: 20px 0 20px 0;
            margin: 10px 0 10px 0;
        }

        &__filaD img {
            width: 20vw;
            object-fit: cover;
            padding: 10px;
            border-radius: 20px 0 20px 0;
            margin: 10px 0 10px 0;
        }
    }
}

@media only screen and (max-width: 992px) {
    
    .galeriaMed {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        &__izq {
            align-items: center;
        }

        &__der {
            align-items: center;
            margin-top: 0;
        }

        &__fila img {
            width: 80vw;
        }

        &__filaD img {
            width: 40vw;
        }
    }
}

@media only screen and (max-width: 576px) {
    
    .galeriaMed__filaD img {
        width: 50vw;
        border-radius: 0px;
    }
    
    .galeriaMed__fila img{
        width: 100vw;
        border-radius: 0px;
    }
}