.galeria {
    @extend %main;
    
    &Sup h1 {
        @include flexcolumn (center);
        @extend %titulo;
    }

    &Med {
        @include mQ (tablet) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        &__izq {
            align-items: end;
            @include mQ (tablet) {
                align-items: center;
            }
        }

        &__der {
            margin-top: 75px;
            @include mQ (tablet) {
                align-items: center;
                margin-top: 0;    
            }
        }

        &__fila img {
            width: 40vw;
            object-fit: cover;
            padding: 10px;
            border-radius: 20px 0;
            margin: 10px 0;
            @include mQ (tablet) {
                width: 80vw;
            }
            @include mQ (mobile) {
                width: 100vw;
            }
        }

        &__filaD img {
            width: 20vw;
            object-fit: cover;
            padding: 10px;
            border-radius: 20px 0;
            margin: 10px 0;
            @include mQ (tablet) {
                width: 40vw;
            }
            @include mQ (mobile) {
                width: 50vw;
            }
        }
    }
}