* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h5 {
    margin: 25px 0 50px 0;
    font-size: 16px;
    align-self: center;
}

.boton {
    align-self: center;
    padding: 15px 25px 15px 25px;
    border: solid 1px;
    border-color: #333333;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #333333;
    border-radius: 5px;
    text-decoration: none;
    margin: 40px 0 20px 0;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

    &:hover {
        color: #D3D3D3;
        font-weight: bolder;
        background-color: #165c85;
    }
}