* {
    margin: 0;
    padding: 0;
}

/* GOOGLE FONTS

font-family: 'Commissioner', sans-serif;
font-family: 'Fraunces', serif;

*/

p {
    margin: 0;
}

h5 {
    margin: 25px 0 50px 0;
    font-size: 16px;
    text-align: center;
}

.boton {
    @include parrafo ($color-letra-FC, none);
    @include border(center, 40px 0 0 0);
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

    &:hover {
        color: #D3D3D3;
        font-weight: bolder;
        background-color: #165c85;
        cursor: pointer;
    }
}