/* CUERPO SUPERIOR */

.index {
    @extend %main;

    &Superior {
        width: 100%;
        @include flexcolumn (center);
    
        &__titulo {
            color: $color-letra-FC;
            font-size: 40px;
            font-weight: bold;
            font-family: $fuente-principal;
            margin: 100px 0 10px 0;
        }
    
        &__subtitulo {
            @include subtitulo ($color-letra-FC, center);
            margin: 0 0 20px 0;
        }
    }
    
    #index__fotosCarrousel {
        width: 70%;
    }
    
    /* CUERPO Med INDEX */
    
    &Med {
        background-color: #D8D8D8;
        padding: 100px 0 100px 0;
        margin: 50px 0 0 0;
    
        &__column {
            margin: 0;
    
    
            &Fotos {
                display: flex;
                flex-wrap: wrap;
    
                &__foto{
                    width: 450px;
                    padding: 10px 0 0 10px;
                    box-shadow: $shadow;
                }
            }
    
            &Box {
                width: 40%;
    
                &Texto {
                    display: flex;
                    flex-direction: column;
    
                    & h2 {
                        @extend %titulo;
                    }
    
                    & p {
                        @include parrafo ($color-letra-FC, none);
                        margin: 10px 0 10px 0;
                    }
                }
            }
        }
    }
    
    /* CUERPO INFERIOR INDEX */
    
    &Inferior {
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 100px 0 100px 0;
    
        &__texto {
            display: flex;
            justify-content: center;
            font-size: 25px;
            padding: 0 0 50px 0;
        }
    
        &__caja {
            width: 60%;
    
            &Texto {
                font-family: 'Mulish', sans-serif;
                color: #333333;
                margin: 0 0 0 20px;
            }
        }
    
        &__imagen {
            display: flex;
            justify-content: center;
    
            &Foto {
                width: 80%;
                box-shadow: $shadow;
            }
        }
    }
}



/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */

@media only screen and (max-width: 992px) {

    /* MAIN INDEX */

    .indexSuperior__titulo {
        font-size: 200%;
    }

    .indexMed__column {
        display: flex;
        flex-direction: column-reverse;

        &Box {
            width: 80%;
            padding: 0;
        }

        &Fotos {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &__foto {
                width: 50%;
            }
            
        }
    }

    .indexInferior__texto {
        margin: 0 0 0 0;
    }

    .indexInferior__imagen {
        align-self: center;

        &Foto {
            padding: 0;
        }
    }
}

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL */

@media only screen and (max-width: 576px) {
    
    .indexSuperior__titulo {
        margin: 50px 0 0 0;
        font-size: 20px;
        text-align: center;
    }
    
    .indexSuperior__subtitulo {
        font-size: 15px;
        padding: 10px 0 0 0;
    }
    
    #index__fotosCarrousel {
        width: 100%;
    }
    
    .indexMed {
        padding: 50px 0 50px 0;
    
        &__columnFotos {
            display: flex;
            flex-wrap: wrap;
    
            &__foto {
                width: 80%;
                padding: 5px 0 0 0;
            }  
        }
    
        &__columnBox {
            width: 80%;
            padding: 0;
        }
    }
    
    .tituloSecundario__index {
        font-size: 20px;
    }
    
    .subtituloMed__index {
        font-size: 15px;
        text-align: center;
    }
    
    .botonVerMas__index {
        margin: 20px 0 20px 0;
        font-size: 20px;
        padding: 15px;
    }
    
    .indexInferior {
        padding: 50px 0 50px 0;
    
        &__texto {
            padding: 0 0 30px 0;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
    
            &Boton {
                font-size: 20px;
                padding: 15px;
            }
        }
    
        &__caja {
            width: 80%;
            padding: 0;
    
            &Texto {
                font-size: 15px;
                padding: 0 0 30px 0;
                text-align: center;
            }
        }
    
        &__imagenFoto {
            width: 100%;
            padding: 0;
        }
    }
}