.index {
    @extend %main;

    &Superior {
        width: 100%;
        @include flexcolumn (center);

        &__banner {
            @include flexrow (center);
            align-items: center;
            width: 100%;

            & img {
                width: 7.5%;
                @include mQ (tablet) {
                    margin-left: 20px;
                }
            }

            & h1{
                @extend %titulo;
                margin-left: 20px;
                justify-content: center;
                @include mQ (mobile) {
                    margin: 0 20px 0 10px;
                }
            }
        }
        
        &__texto h3 {
            @include subtitulo ($color-letra-FC, center);
            margin: 0 0 20px 0;
            @include mQ (mobile) {
                font-size: 0.7rem;
            }
        }
    }
    
    &Med {
        background-color: #D8D8D8;
        padding: 100px 0;
        margin: 50px 0 0 0;
        @include mQ (mobile) {
            padding: 50px 0;
        }
    
        &__column {
            margin: 0;
            @include mQ (tablet) {
                display: flex;
                flex-direction: column-reverse; 
            }
            
    
            &Fotos {
                display: flex;
                flex-wrap: wrap;
                padding-top: 25px;
    
                & img{
                    width: 450px;
                    padding: 10px 0 0 10px;
                    box-shadow: $shadow;
                    border-radius: 20px 0;
                    @include mQ (mobile) {
                        width: 100%;
                    }
                }
            }
    
            &Box {
                width: 40%;
                @include mQ (tablet){
                    width: 80%;
                    padding: 0;
                }

                &Texto {
                    display: flex;
                    flex-direction: column;
    
                    & h2 {
                        @extend %titulo;
                    }
    
                    & p {
                        @include parrafo ($color-letra-FC, none);
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    &Inferior {
        height: fit-content;
        @include flexcolumn (none);
        padding-top: 50px;
    
        &__texto {
            @include flexrow (center);
            padding: 0 0 50px 0;
            @include mQ (mobile) {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    
        &__caja {
            width: 60%;
            @include mQ (mobile) {
                width: 80%;
            }
    
            & p {
                @include parrafo ($color-letra-FC, start);
                margin-top: 40px;
                padding-left: 20px;
                @include mQ (mobile) {
                    margin: 0;
                    padding: 0;
                    text-indent: 1.5em;
                }
            }
        }
    
        &__imagen {
            @include flexrow (center);
    
            & img {
                width: 70%;
                box-shadow: $shadow;
                border-radius: 20px 0;
                @include mQ (mobile) {
                    width: 100%;
                }
            }
        }
    }
}

#index__fotosCarrousel {
    width: 70%;
    @include mQ (mobile) {
        width: 100%;
    }
}