.barraNavegacion{
    background-color: #165c85;

    &__imagen {
        width: 20px;
        padding: 30px 0 30px 0;
    }

    &__texto {
        font-family: 'Mulish', sans-serif;
        color: $color-letra-FO;
        margin-left: 10px;
        font-size: 25px;
        text-decoration: none;
        position: relative;
        padding-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: $color-letra-FO;
            transform-origin: right;
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
        
        &:hover::after {
            transform-origin: left;
            transform: scale(1);
        }
        
        &:hover {
            color: $color-letra-FO;
            font-weight: bolder;
        }
    }

    &__anchor {
        font-size: 20px;
        text-decoration: none;
        font-family: 'Mulish', sans-serif;
        text-align: end;
        transition: background-color 0.5s;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0px;
            height: 2px;
            width: 100%;
            background: $color-letra-FO;
            transform-origin: right;
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
        
        &:hover::after {
            transform-origin: left;
            transform: scale(1);
        }
        
        &:hover {
            font-weight: bold;
            color: $color-letra-FO;
        }
    }
}

.navbar-collapse .collpase{
    display: flex;
    justify-content: end;
}

.nav__mdsm {
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-letra-FO;

    &:hover {
        color: $color-letra-FO;
    }
}

/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */

@media only screen and (max-width: 992px) {

    .barraNavegacion{
        background-color: #165c85;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
        padding: 20px 0 20px 0;
    
        &__imagen {
            width: 30px;
        }
    
        &__anchor::after {
            display: none;
        }
    
        &__texto::after {
            display: none;
        }
    }
    
    #navbarNav .navbar-collapse .collpase{
        display: flex;
        justify-content: end;
    }
    
    .nav__lg {
        display: none;
    }
    
    .nav__mdsm {
        display: flex;
        align-items: center;
    }
    
    .navbar-toggler:focus {
        color: #D3D3D3;
    }
    
    .navbar-light .navbar-toggler {
        border-color: #D3D3D3;
    
        &-icon {
            background-image: url(../Imagenes/menuHamburguesa.png);
        }
    }
}

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL SMALL */

@media only screen and (max-width: 576px) {

    .barraNavegacion{
        background-color: #165c85;
        width: 100%;
    
        &__texto {
            font-size: 15px;
        }
    
        &__lista {
            padding: 0;
        }
    
        &__anchor {
            font-size: 15px;
            padding: 10px 10px 30px 10px;
        }
    }
    
    .container {
        margin: 0 50px 0 50px;
    }
}