.barraNavegacion {
    background-color: #165c85;
    position: fixed;
    width: 100%;
    z-index: 10;
    @include mQ (tablet) {
        padding: 10px 0;
    }

    &__texto {
        @include parrafo ($color-letra-FO, center);
        font-weight: lighter;
        text-decoration: none;
        position: relative;
        padding-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: $color-letra-FO;
            transform-origin: right;
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
        
        &:hover::after {
            transform-origin: left;
            transform: scale(1);
        }
        
        &:hover {
            color: $color-letra-FO;
            font-weight: bolder;
        }
    }

    &__anchor {
        @include parrafo ($color-letra-FO, end);
        @include mQ (mobile) {
            font-size: 0.7rem;
        }
        font-weight: lighter;
        text-decoration: none;
        transition: background-color 0.5s;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0px;
            height: 2px;
            width: 100%;
            background: $color-letra-FO;
            transform-origin: right;
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
            @include mQ (tablet) {
                display: none;
            }
        }
        
        &:hover::after {
            transform-origin: left;
            transform: scale(1);
        }
        
        &:hover {
            font-weight: bold;
            color: $color-letra-FO;
        }
    }
}

.navbar-collapse .collpase{
    display: flex;
    justify-content: end;
}

.nav__mdsm {
    display: none;
    @include mQ (tablet) {
        display: flex;
        align-items: center;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $color-letra-FO;
    margin: 0 20px;
    padding: 10px 0;
    @include mQ (tablet) {
        padding-top: 15px;
    }
    @include mQ (mobile) {
        margin: 0;
    }

    &:hover {
        color: $color-letra-FO;
    }
}

.navbar > .container {
    margin: 0 150px;
    @include mQ (tablet) {
        margin: 0 100px;
    }
    @include mQ (mobile) {
        margin: 0 30px;
    }
}

/* MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM MEDIUM */

@media only screen and (max-width: 992px) {
    
    #navbarNav .navbar-collapse .collpase{
        display: flex;
        justify-content: end;
    }
    
    .nav__lg {
        display: none;
    }
    
    .navbar-toggler:focus {
        color: #D3D3D3;
    }
    
    .navbar-light .navbar-toggler {
        border-color: #D3D3D3;
        padding: 0.10rem 0.45rem; 

        &-icon {
            background-image: url(../Imagenes/menuHamburguesa.png);
            width: 25px;
        }
    }
}