.QS {
    @extend %main;

    &Titulo h1{
        @extend %titulo;
        @include mQ (mobile) {
            margin-bottom: 50px;
        }
    }

    &Superior {
        @include flexrow (space-between);
        background-color: #D8D8D8;
        height: fit-content;
        padding: 50px 100px;
        @include mQ (tablet) {
            display: none;
        }
    
        &__imagenes {
            @include flexcolumn (none);

            &Foto {
                width: 400px;
                margin-bottom: 10px;
                box-shadow: $shadow;
                @include mQ (tablet) {
                    width: 80%;
                }
                @include mQ (mobile) {
                    width: 100%;
                }
            }
        }
    
        &__texto {
            @include flexcolumn (none);
            @include mQ (tablet) {
                width: 80%;
                padding: 30px 0;
            }
            @include mQ (mobile) {
                width: 100%;
            }
    
            &Secundario {
                @include subtitulo($color-letra-FC, center);
            }
            
            &Parrafo {
                @include parrafo ($color-letra-FC, none);
                padding-left: 50px;
                text-indent: 1.5em;
                @include mQ (tablet) {
                    padding: 0;
                }
                @include mQ (mobile) {
                    padding: 0 30px;
                }
            }
    
            &Subtitulo {
                @include parrafo ($color-letra-FC, center);
                padding-top: 30px;
            }
    
            &Firma {
                @include parrafo ($color-letra-FC, end);
                padding-top: 50px;
                @include mQ (tablet) {
                    align-self: flex-end;
                    padding-right: 30px;
                }
            }
        }

        &992 {
            display: none;
            @include mQ (tablet) {
                display: flex;
                flex-direction: column;
                background-color: #D3D3D3;
                padding: 50px 0;
            }
        }
    }

    &Medio {
        height: fit-content;
        background-color: #6D6D6D;
        @include flexrow (space-evenly);
        margin-top: 100px;
        align-items: center;
        @include mQ (tablet) {
            @include flexcolumn (center);
        }
        @include mQ (mobile) {
            width: 100%;
        }

        &__caja {
            width: 30%;
            @include mQ (tablet) {
                width: 70%;
            }

            &Parrafo {
                @include parrafo ($color-letra-FO, none);
                text-indent: 1.5em;
                @include mQ (tablet) {
                    padding-top: 75px;
                }
            }

            &Imagenes {
                gap: 15px;
                padding: 75px 0;

                &Foto {
                    height: 60vh;
                    box-shadow: $shadow;
                    @include mQ (mobile) {
                        width: 45vw;
                        height: auto;
                    }
                }
            }
        }
    }
}