.QS {
    @extend %main;

    &Titulo h1{
        @extend %titulo;
        margin: 100px 0 100px 0;
    }

    &Superior {
        @include flexrow (space-between);
        background-color: #D8D8D8;
        height: fit-content;
        padding: 50px 100px 50px 100px;
    
        &__imagenes {
            @include flexcolumn (none);

            &Foto {
                width: 400px;
                margin: 0 0 10px 0;
                box-shadow: $shadow;
            }
        }
    
        &__texto {
            @include flexcolumn (none);
    
            &Secundario {
                @include subtitulo($color-letra-FC, center);
            }
            
            &Parrafo {
                @include parrafo ($color-letra-FC, none);
                padding: 0 0 0 50px;
                text-indent: 1.5em;
            }
    
            &Subtitulo {
                @include parrafo ($color-letra-FC, center);
                padding: 30px 0 0 0;
            }
    
            &Firma {
                @include parrafo ($color-letra-FC, end);
                padding: 50px 100px 0 0;
            }
        }

        &992 {
            display: none;
        }
    }

    &Medio {
        height: fit-content;
        background-color: #6D6D6D;
        @include flexrow (space-evenly);
        margin: 100px 0 100px 0;
        align-items: center;

        &__caja {
            width: 30%;
            padding: 50px 0 50px 0;

            &Parrafo {
                @include parrafo ($color-letra-FO, none);
                text-indent: 1.5em;
            }

            &Imagenes {
                gap: 15px;
                padding: 100px 0 100px 0;

                &Foto {
                    height: 50vh;
                    box-shadow: $shadow;
                }
            }
        }
    }
}


@media only screen and (max-width: 992px) {

    .QSSuperior {
        display: none;

        &992 {
            display: flex;
            flex-direction: column;
            background-color: #D3D3D3;
            padding: 50px;
        }

        &__imagenes {
            display: flex;
            align-items: center;

            &Foto {
                width: 80%;
            }
        }

        &__texto {
            width: 80%;
            padding: 30px 0 30px 0;

            &Parrafo {
                padding: 0;
            }

            &Firma {
                align-self: end;
                padding: 50px 0 0 0;
            }
        }
    }

    .QSMedio {
        display: flex;
        flex-direction: column;

        &__caja {
            width: 70%;
            padding: 100px 0 50px 0;

            &Imagenes {
                padding: 0 0 100px 0;
            }
        }
    }
}

@media only screen and (max-width: 576px) {

    .QSSuperior992 {
        padding: 50px 0 50px 0;
    }

    .QSSuperior__imagenesFoto {
        width: 100%;
    }

    .QSSuperior__textoFirma {
        padding-right: 20px;
    }

    .QSMedio {
        width: 100%;
        padding: 0;
        margin: 50px 0 50px 0;

        &__cajaImagenesFoto {
            width: 45vw;
            height: auto;
        }
    } 
}