/* COLORES */

$color-principal: #f4f4f4;
$color-letra-FO: #D3D3D3;
$color-letra-FC: #333333;

$shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493);

/* TIPOGRAFIAS */

$fuente-principal: 'Mulish', sans-serif;

$tamanio-tipografia:(
    titulo: 35px,
    subtitulo: 25px,
    parrafo: 15px,
);

/* VARIABLES */

@mixin subtitulo ($color, $align) {
    font-size: map-get($tamanio-tipografia, subtitulo);
    font-family: $fuente-principal;
    color: $color;
    text-align: $align;
    font-weight: bold
};

@mixin parrafo ($color, $align) {
    font-size: map-get($tamanio-tipografia, parrafo);
    font-family: $fuente-principal;
    color: $color;
    text-align: $align;
    font-weight: bold;
};

@mixin flexcolumn ($align) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $align;
};

@mixin flexrow ($justify) {
    display: flex;
    justify-content: $justify;
};

@mixin container ($direction, $color) {
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: $color;
    padding: 20px 0 20px 0;
    font-weight: bolder;
};

@mixin border ($alignself, $margin) {
    border: solid 1px;
    border-color: $color-letra-FC;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    align-self: $alignself;
    margin: $margin;
}
%titulo {
    font-family: $fuente-principal;
    color: $color-letra-FC;
    font-size: map-get($tamanio-tipografia, titulo);
    text-align: center;
};

%main {
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
};

