/* COLORES */

$color-principal: #f4f4f4;
$color-letra-FO: #D3D3D3;
$color-letra-FC: #333333;

$shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.5);

/* TIPOGRAFIAS */

$fuente-secundaria: 'Commissioner', sans-serif;
$fuente-principal: 'Fraunces', serif;

$tamanio-tipolarge:(
    titulo: 2rem,
    subtitulo: 1.5rem,
    parrafo: 1rem,
);

$tamanio-tiposmall:(
    titulo: 1.8rem,
    subtitulo: 1.3rem,
    parrafo: 0.8rem,
);

/* VARIABLES */

@mixin subtitulo ($color, $align) {
    font-size: map-get($tamanio-tipolarge, subtitulo);
    @include mQ (mobile) {
        font-size: map-get($tamanio-tiposmall, subtitulo);
    }
    font-family: $fuente-secundaria;
    color: $color;
    text-align: $align;
    font-weight: bold
}

@mixin parrafo ($color, $align) {
    font-size: map-get($tamanio-tipolarge, parrafo);
    @include mQ (mobile) {
        font-size: map-get($tamanio-tiposmall, parrafo);
    }
    font-family: $fuente-secundaria;
    color: $color;
    text-align: $align;
    font-weight: bold;
}

@mixin flexcolumn ($align) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $align;
}

@mixin flexrow ($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin container ($direction, $color) {
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: $color;
    padding: 30px 0;
    font-weight: bolder;
    gap: 15px;
}

@mixin border ($alignself, $margin) {
    border: solid 1px;
    border-color: $color-letra-FC;
    border-radius: 5px;
    padding: 15px 25px;
    align-self: $alignself;
    margin: $margin;
}

@mixin mQ ($pantalla) {
    @if $pantalla == 'mobile' {
        @media only screen and (max-width: 576px) {
            @content;
        }
    };

    @if $pantalla == 'tablet' {
        @media only screen and (max-width: 992px) {
            @content;
        }
    }
    
    @if $pantalla == 'desktop' {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }
}

%titulo {
    font-family: $fuente-principal;
    color: $color-letra-FC;
    font-size: map-get($tamanio-tipolarge, titulo);
    text-align: center;
    margin: 0 20px;
    @include mQ (mobile) {
        font-size: 1.2rem;
    }
}

%main {
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 150px 0;
    @include mQ (mobile) {
        padding: 125px 0;
    }
}