$color-principal: #f4f4f4;
$color-letra-FO: #D3D3D3;
$color-letra-FC: #333333;

$shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.493);

$fuente-principal: 'Mulish', sans-serif;


$tamanio-tipografia:(
    titulos: 30px,
    subtitulos: 20px,
    parrafos: 15px,
    boton: 20px,
)
